@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="for-box">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownLeft animated" data-wow-delay=".1s">
                <div class="for-box-crecl">
                    <i class="fa fa-home"></i>
                </div>
                <div class="clr1">
                    <h2>
                        Üniversitemiz
                    </h2>
                </div>
                <div class="wbox">
                    <a asp-controller="FastAccess" asp-action="Duzce">Düzce</a><br />
                    <a asp-controller="FastAccess" asp-action="Kurulus">Kuruluş</a><br />
                    <a asp-controller="FastAccess" asp-action="Rektor">Yönetim</a><br />
                    <a href="#">Sayılarla DÜ</a><br />
                    <a href="#">Sıralamalar</a><br />
                    <a href="#">İlkler</a><br />
                    <a asp-controller="FastAccess" asp-action="URAP">Kurumsal Strateji</a><br />
                    <a href="#">İdari Birimler</a><br />
                    <a asp-controller="FastAccess" asp-action="BeslenmeHizmetleri">Kampüs Yaşamı</a><br />
                    <a asp-controller="FastAccess" asp-action="ProtokolImzalananFirmalar">İşbirlikleri</a><br />
                    <a href="#">Tanıtım Filmleri/Galeri</a><br />
                    <a href="#">Yönetmelik ve Yönergeler</a><br />
                    <a asp-controller="FastAccess" asp-action="BGYSPolitikamiz">Bilgi Güvenliği Politikamız</a><br />
                    <a href="#" class="clr1-a">+</a>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownLeft animated" data-wow-delay=".2s">
                <div class="for-box-crecl">
                    <i class="fa fa-code"></i>
                </div>
                <div class="clr2">
                    <h2>
                        Akademik
                    </h2>
                </div>
                <div class="wbox">
                    <br><br />
                    <a href="#">Fakülteler</a><br />
                    <a href="#">Enstitüler</a><br />
                    <a href="#">Yüksekokulları</a><br />
                    <a href="#">Meslek Yüksekokulları</a><br />
                    <a asp-controller="FastAccess" asp-action="Kurullar" >Kurullar</a><br />
                    <a href="#">Bölüm Başkanlıkları</a><br />
                    <br><br><br><br><br />
                    <a href="#" class="clr2-a">+</a>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownRight animated" data-wow-delay=".3s">
                <div class="for-box-crecl">
                    <i class="fa fa-rocket"></i>
                </div>
                <div class="clr3">
                    <h2>
                        Araştırma
                    </h2>
                </div>
                <div class="wbox">
                    <br>
                    <a asp-controller="FastAccess" asp-action="ArastirmaMerkezleri">Araştırma Merkezleri</a><br />
                    <a href="https://cdn.duzce.edu.tr/File/GetFile/d834bcb6-f351-49f7-98d2-b8b1dba20280">Laboratuvar Envanteri</a><br />
                    <a href="#">Yayınlanan Projeler</a><br />
                    <a href="#">Hakemli Dergiler</a><br />
                    <a asp-controller="FastAccess" asp-action="TeknolojiTransferOfisi">Teknoloji Transfer Ofisi</a><br />
                    <br><br><br><br><br><br><br />
                    <a href="#" class="clr3-a">+</a>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownRight animated" data-wow-delay=".4s">
                <div class="for-box-crecl">
                    <i class="fa fa-wifi"></i>
                </div>
                <div class="clr4">
                    <h2>
                        İhtisaslaşma
                    </h2>
                </div>
                <div class="wbox">
                    <a asp-controller="FastAccess" asp-action="ProgramKapsami">Program Kapsamı</a><br />
                    <a asp-controller="FastAccess" asp-action="TibbiBitkiYetistiriciligi">Tıbbi Bitki Yetiştiriciliği</a><br />
                    <a asp-controller="FastAccess" asp-action="UrunlerMarkalar">Ürünler Markalar</a><br />
                    <a asp-controller="FastAccess" asp-action="UretimMerkezi">Üretim Merkezi</a><br />
                    <a asp-controller="FastAccess" asp-action="GelenekselVeTamamlayiciTipFaaliyetleri">Geleneksel ve Tamamlayıcı Tıp Faaliyetleri</a><br />
                    <a asp-controller="FastAccess" asp-action="TarimsalAtiklarinGeriKazanimiFaaliyetleri">Tarımsal Atıkların Geri Kazanımı Faaliyetleri</a><br />
                    <a asp-controller="FastAccess" asp-action="AricilikAriUrunleri">Arıcılık/Arı Ürünleri</a><br />
                    <a asp-controller="FastAccess" asp-action="BilimselYayinlar">Bilimsel Yayınlar</a><br />
                    <a asp-controller="FastAccess" asp-action="IsBirligiProtokolleri">İşbirlikleri</a><br />
                    <a asp-controller="FastAccess" asp-action="Etkinlikler">Etkinlikler</a><br /><br />
                    <a href="#" class="clr4-a">+</a>
                </div>

            </div>
        </div>
    </div>
</section>