@{
    ViewData["Title"] = "Home Page";
}
@model List<Success>
<style>
    a{color: white;}
    a:hover {color: white;}
</style>
<!-- =============== header =============== -->
<header id="home" class="header">

    <!-- =============== container =============== -->
    <div class="container">
        <div class="header-content row">
            <div id="owl-demo" class="owl-carousel header1">
                <div>
                    <div class="col-xs-12 col-sm-6 col-md-6 header-text">
                        <h2 class="wow bounceIn animated" data-wow-delay=".40s">
                            <span>DÜ</span>ZCE
                            <br />ÜNİVERSİTESİ
                        </h2>
                        <h3 class="wow bounceIn animated" data-wow-delay=".50s">DEĞER ÜRETEN ÜNİVERSİTE</h3>
                        <p class="wow bounceIn animated" data-wow-delay=".60s">Üniversitemize Hoş Geldiniz</p>
                        <p>
                            <div class="btn btn-primary btn-lg btn-ornge wow bounceIn animated" data-wow-delay="1s">
                                <i class="hbtn"> <span><a asp-controller="Home" asp-action="ClickHere"  class="hbtn">Tıklayınız</a></span></i>
                            </div>
                        </p>
                    </div>
                </div>
                <div>
                    <div class="col-xs-12 col-sm-6 col-md-6 header-text">
                        <h2 class="wow bounceIn animated" data-wow-delay=".40s">
                            Kentimiz <span>ve</span> Sanayi Elele
                            <br />Üreten Üniversite
                        </h2>
                        <h3 class="wow bounceIn animated" data-wow-delay=".50s"> </h3>
                        <p class="wow bounceIn animated" data-wow-delay=".60s">Sanayi ve iş dünyası ile üniversiteyi ortak akıl, ortak hedef ve ortak başarı ilkeleri doğrultusunda ortak projelerle biraraya getirerek üniversitenin ve sanayinin gelişmesine katkıda bulunmaktır.</p>
                        @*<p>
                            <div class="btn btn-primary btn-lg btn-ornge wow bounceIn animated" data-wow-delay="1s">
                                <i class="hbtn"> <span>Tıklayınız</span></i>
                            </div>
                        </p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =============== container end =============== -->
</header>
<section>
    <div class="container-fluid welcome">
        <a asp-controller="Home" asp-action="ClickHere"><img src="~/img/hosgeldiniz-img.png" class="welcome-img"></a>
    </div>
</section>
<section class="counter">
    <!-- =============== container =============== -->
    <div class="container">
        <div class="row">
            <div class="title">
                <h2>2006'DAN BUGÜNE</h2>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-xs-12 col-sm-2 col-md-2 wow fadeInUp animated" data-wow-delay=".1s" style="margin-bottom: 15px;">
                    <i class="@item.Icon size"></i>
                    <h2>@item.Number</h2>
                    <span>@item.Name</span>
                </div>
            }
        </div>
    </div>
    <!-- =============== container end =============== -->
</section>

<section id="blog" class="">
    <!-- =============== container =============== -->
    <div class="container">
        <div class="row">
            <div class="title">
                <h2>Duyurular</h2>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInUp animated" data-wow-delay=".1s">
                <div class="blog-img">
                    <img src="https://cdn.duzce.edu.tr/File/GetFile/356ca58b-c73d-42b2-9369-493238f9b6ba" />
                </div>
                <div class="row">
                    <div class="data">10</div>
                    <div class="month">Aralık</div>
                </div>
                <div class="row">
                    <h3>Kariyer Sürecinde Sabırlı Olun ve Kestirme Yol Aramayın</h3>
                    <p>Üniversitemiz Sağlık Bilimleri Fakültesi Hemşirelik Bölümü Tanıtım ve Kariyer Günleri Komisyonu’nun düzenlediği “Hemşirelikte...</p>
                    <a href="blog-single.html">Detay</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 wow bounceIn animated" data-wow-delay=".4s">
                <div class="blog-img">
                    <img src="https://cdn.duzce.edu.tr/File/GetFile/43577722-7438-44a8-918e-be7208d00945" alt="Alternate Text" />
                </div>
                <div class="row">
                    <div class="data">10</div>
                    <div class="month">Aralık</div>
                </div>
                <div class="row">
                    <h3>Üniversitemiz Yemek Kursu Yoğun İlgi Görüyor</h3>
                    <p>Üniversitemiz; 2021-2022 Eğitim-Öğretim Yılı’nda, Sağlık, Kültür ve Spor Daire Başkanlığı ve Düzce Halk Eğitim Müdürlüğü...</p>
                    <a href="blog-single.html">Detay</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInDown animated" data-wow-delay=".3s">
                <div class="blog-img">
                    <img src="https://cdn.duzce.edu.tr/File/GetFile/b92ef018-6cfa-486a-a64a-7eaac3fd802f" />
                </div>
                <div class="row">
                    <div class="data">9</div>
                    <div class="month">Aralık</div>
                </div>
                <div class="row">
                    <h3>Düzenlenen Ücretsiz Kurslarla Yeteneklerine Yetenek Katıyorlar</h3>
                    <p>Üniversitemiz 2021-2022 Eğitim-Öğretim Yılı’nda Sağlık, Kültür ve Spor Daire Başkanlığı ve Düzce Halk Eğitim Müdürlüğü iş birliği...</p>
                    <a href="blog-single.html">Detay</a>
                </div>
            </div>
        </div>
    </div>
    <!-- =============== container end =============== -->
</section>

<!-- =============== Gallery =============== -->
<section id="Gallery" class="wow flipInX animated" data-wow-delay=".5s">
    <div class="title">
        <h1>Galeri</h1>
        <!--<p>we are   awesome,   check some interesting facts</p>-->
    </div>

    <div class="big-demo go-wide" data-js-module="filtering-demo">
        <div class="container">
            <div class="row">
                <div class="filter-button-group button-group js-radio-button-group">
                    <button class="button is-checked" data-filter="*">DÜ</button>
                    <button class="button" data-filter=".gunduz">Gündüz DÜ</button> |
                    <button class="button" data-filter=".gece">Gece DÜ</button> |
                    <button class="button" data-filter=".kıs">Kış DÜ</button> |
                    <button class="button" data-filter=".yaz">Yaz DÜ</button>
                </div>
            </div>
        </div>


        <div class="grid baguetteBoxThree gallery">
            <div class="element-item transition gunduz " data-category="post-transition">
                <a href="~/img/gallery/emp-2.jpg">
                    <img src="~/img/gallery/emp-2.jpg" />
                    <div class="hover-img">
                        <h2>Gündüz DÜ</h2>
                        <i class="fa fa-camera camera"></i>
                    </div>
                </a>
            </div>
            <div class="element-item post-transition gece " data-category="post-transition">
                <a href="~/img/gallery/emp-3.jpg">
                    <img src="~/img/gallery/emp-3.jpg" />
                    <div class="hover-img">
                        <h2>Gece DÜ</h2>
                        <i class="fa fa-camera camera"></i>
                    </div>
                </a>
            </div>
            <div class="element-item post-transition kıs " data-category="post-transition">
                <a href="~/img/gallery/emp-6.jpg">
                    <img src="~/img/gallery/emp-6.jpg" />
                    <div class="hover-img">
                        <h2>Kış DÜ</h2>
                        <i class="fa fa-camera camera"></i>
                    </div>
                </a>
            </div>
            <div class="element-item post-transition yaz " data-category="post-transition">
                <a href="~/img/gallery/emp-12.jpg">
                    <img src="~/img/gallery/emp-12.jpg" />
                    <div class="hover-img">
                        <h2>Yaz DÜ</h2>
                        <i class="fa fa-camera camera"></i>
                    </div>
                </a>
            </div>
            <div class="element-item post-transition yaz " data-category="post-transition">
                <a href="~/img/gallery/emp-15.jpg">
                    <img src="~/img/gallery/emp-15.jpg" />
                    <div class="hover-img">
                        <h2>Yaz DÜ</h2>
                        <i class="fa fa-camera camera"></i>
                    </div>
                </a>
            </div>
            <div class="element-item post-transition gunduz " data-category="post-transition">
                <a href="~/img/gallery/emp-1.jpg">
                    <img src="~/img/gallery/emp-1.jpg" />
                    <div class="hover-img">
                        <h2>Gündüz DÜ</h2>
                        <i class="fa fa-camera camera"></i>
                    </div>
                </a>
            </div>
            <div class="element-item transition gece " data-category="post-transition">
                <a href="~/img/gallery/emp-4.jpg">
                    <img src="~/img/gallery/emp-4.jpg" />
                    <div class="hover-img">
                        <h2>Gece DÜ</h2>
                        <i class="fa fa-camera camera"></i>
                    </div>
                </a>
            </div>
            <div class="element-item transition kıs " data-category="post-transition">
                <a href="~/img/gallery/emp-7.jpg">
                    <img src="~/img/gallery/emp-7.jpg" />
                    <div class="hover-img">
                        <h2>Kış DÜ</h2>
                        <i class="fa fa-camera camera"></i>
                    </div>
                </a>
            </div>
            <div class="element-item transition kıs " data-category="post-transition">
                <a href="~/img/gallery/emp-8.jpg">
                    <img src="~/img/gallery/emp-8.jpg" />
                    <div class="hover-img">
                        <h2>Kış DÜ</h2>
                        <i class="fa fa-camera camera"></i>
                    </div>
                </a>
            </div>
            <div class="element-item post-transition yaz " data-category="post-transition">
                <a href="~/img/gallery/emp-10.jpg">
                    <img src="~/img/gallery/emp-10.jpg" />
                    <div class="hover-img">
                        <h2>Yaz DÜ</h2>
                        <i class="fa fa-camera camera"></i>
                    </div>
                </a>
            </div>
            <div class="element-item post-transition gunduz " data-category="post-transition">
                <a href="~/img/gallery/emp-11.jpg">
                    <img src="~/img/gallery/emp-11.jpg" />
                    <div class="hover-img">
                        <h2>Gündüz DÜ</h2>
                        <i class="fa fa-camera camera"></i>
                    </div>
                </a>
            </div>
            <div class="element-item post-transition gece " data-category="post-transition">
                <a href="~/img/gallery/emp-5.jpg">
                    <img src="~/img/gallery/emp-5.jpg" />
                    <div class="hover-img">
                        <h2>Gece DÜ</h2>
                        <i class="fa fa-camera camera"></i>
                    </div>
                </a>
            </div>
            <div class="element-item post-transition gece " data-category="post-transition">
                <a href="~/img/gallery/emp-13.jpg">
                    <img src="~/img/gallery/emp-13.jpg" />
                    <div class="hover-img">
                        <h2>Gece DÜ</h2>
                        <i class="fa fa-camera camera"></i>
                    </div>
                </a>
            </div>
            <div class="element-item transition kıs " data-category="post-transition">
                <a href="~/img/gallery/emp-9.jpg">
                    <img src="~/img/gallery/emp-9.jpg" />
                    <div class="hover-img">
                        <h2>Kış DÜ</h2>
                        <i class="fa fa-camera camera"></i>
                    </div>
                </a>
            </div>
            <div class="element-item post-transition yaz " data-category="post-transition">
                <a href="~/img/gallery/emp-16.jpg">
                    <img src="~/img/gallery/emp-16.jpg" />
                    <div class="hover-img">
                        <h2>Yaz DÜ</h2>
                        <i class="fa fa-camera camera"></i>
                    </div>
                </a>
            </div>
            <div class="element-item transition gunduz " data-category="post-transition">
                <a href="~/img/gallery/emp-14.jpg">
                    <img src="~/img/gallery/emp-14.jpg" />
                    <div class="hover-img">
                        <h2>Gündüz DÜ</h2>
                        <i class="fa fa-camera camera"></i>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>
