<style>

    .active {
        background-color: #4CAF50;
    }

    .btn-bg-color {
        background-color: white;
        /*background-color: #C8C6C6;*/
    }

    .btn:hover {
        background-color: #FFA100;
    }
</style>

<div class="btn-group-vertical" role="group" aria-label="...">
    <a asp-controller="FastAccess" asp-action="ProgramKapsami" class="btn btn-default btn-lg btn-block btn-bg-color active" role="button" aria-pressed="true">Program Kapsamı</a>
    <a asp-controller="FastAccess" asp-action="TibbiBitkiYetistiriciligi" class="btn btn-default btn-lg btn-block btn-bg-color" role="button" aria-pressed="true">Tıbbi Bitki Yetiştiriciliği</a>
    <a asp-controller="FastAccess" asp-action="UrunlerMarkalar" class="btn btn-default btn-lg btn-block btn-bg-color" role="button" aria-pressed="true">Ürünler/Markalar</a>
    <a asp-controller="FastAccess" asp-action="UretimMerkezi" class="btn btn-default btn-lg btn-block btn-bg-color" role="button" aria-pressed="true">Üretim Merkezi</a>
    <a asp-controller="FastAccess" asp-action="GelenekselVeTamamlayiciTipFaaliyetleri" class="btn btn-default btn-lg btn-block btn-bg-color" role="button" aria-pressed="true">Geleneksel ve Tamamlayıcı<br /> Tıp Faaliyetleri</a>
    <a asp-controller="FastAccess" asp-action="TarimsalAtiklarinGeriKazanimiFaaliyetleri" class="btn btn-default btn-lg btn-block btn-bg-color" role="button" aria-pressed="true">Tarımsal Atıkların Geri<br /> Kazanımı Faaliyetleri</a>
    <a asp-controller="FastAccess" asp-action="AricilikAriUrunleri" class="btn btn-default btn-lg btn-block btn-bg-color" role="button" aria-pressed="true">Arıcılık/Arı Ürünleri</a>
    <a asp-controller="FastAccess" asp-action="BilimselYayinlar" class="btn btn-default btn-lg btn-block btn-bg-color" role="button" aria-pressed="true">Bilimsel Yayınlar</a>
    <a asp-controller="FastAccess" asp-action="IsBirligiProtokolleri" class="btn btn-default btn-lg btn-block btn-bg-color" role="button" aria-pressed="true">İşbirlikleri</a>
    <a asp-controller="FastAccess" asp-action="Etkinlikler" class="btn btn-default btn-lg btn-block btn-bg-color" role="button" aria-pressed="true">Etkinlikler</a>
    
</div>