<style>
    .container p a{
        color: black;
    }
        .container p a:hover {
            color: #FB4;
        }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("ResearchMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>Araştırma Merkezleri</h2><br />
                <p><a>[ DAGEM ] - Arıcılık Araştırma Geliştirme ve Uygulama Merkezi</a></p>
                <p><a href="#">[ DÜBİYOM ] - Biyolojik Çeşitlilik Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">[ DÜBİT ] - Bilimsel ve Teknolojik Araştırmalar Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">[ DÜTEM ] Temiz Enerji Kaynakları Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">Çocuk ve Gençlik Eğitimi Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">[ DÜGETAM ] - Geleneksel ve Tamamlayıcı Tıp (GTT) Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">Bitinya Arkeolojisi Uygulama Ve Araştırma Merkezi</a></p>
                <p><a href="#">D.Ü. Göç Çalışmaları Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">[ DÜKMER ] - Dil, Tarih ve Kültürel Zenginlikleri Araştırma ve Uygulama Merkezi</a></p>
                <p><a href="#">[ DÜKAM ] - Kadın Çalışmaları Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">Sağlık Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">Deprem Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">Deney Hayvanları Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">[ DUBAM ] Bağımlılıkla Mücadele Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">Elektrikli Araçlar ve Dijital Dönüşüm Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">D.Ü. Ahşap İşleri Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">[ DÜSİMER ] - Sanayi ve İş Dünyası İşbirliği Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">[ TOMER ] - Türk Dili Öğretimi Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">[ UZEM ] - Uzaktan Eğitim Merkezi</a></p>
                <p><a href="#">Fetal Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">Organ Nakli Eğitim Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">[ DÜTAGAM ] Tarımsal Atıkların Endüstriye Geri Kazanımı Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">D.Ü. Obezite ve Obezite Cerrahisi Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">Kariyer Geliştirme ve Mezun İzleme Uygulama Araştırma Merkezi</a></p>
                <p><a href="#">[ DÜYEM ] - Yaşam Boyu Eğitim Araştırma ve Uygulama Merkezi</a></p>
                <p><a href="#">[ LİDERİM ] - Yönetim ve Liderlik Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">Mehmet Zahid Kevseri Dini İlimler Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">Okul Öncesi Eğitimi Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">Su Altı Çalışmaları Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">[ DUSTIBAM ] - Süs ve Tıbbi Bitkiler Üretim Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">[ ORAFMER ] D.Ü. Ortadoğu ve Afrika Çalışmaları Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">Radyo-Televizyon Uygulama ve Araştırma Merkezi</a></p>
                <p><a href="#">Fındık Uygulama ve Araştırma Merkezi</a></p>
            </div>
        </div>
    </div><br /><br /><br /><br /><br />
</section>
