<style>
    p {
        text-align: justify;
    }

    img {
        width: 690px;
        max-width: 90vw;
    }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("SpecializationMenu")
        </div>


        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>Ürünlerimiz</h2><br />
                <h4>Ürün Tanıtım Katoloğu</h4><br />


                <center>
                    <img src="~/img/AricilikAriUrunleri/rsm1.png" />
                    <img src="~/img/AricilikAriUrunleri/rsm2.png" />
                    <img src="~/img/AricilikAriUrunleri/rsm3.png" />
                    <img src="~/img/AricilikAriUrunleri/rsm4.png" />
                    <img src="~/img/AricilikAriUrunleri/rsm5.png" />
                    <img src="~/img/AricilikAriUrunleri/rsm6.png" />
                    <img src="~/img/AricilikAriUrunleri/rsm7.png" />
                    <img src="~/img/AricilikAriUrunleri/rsm8.png" />
                    <img src="~/img/AricilikAriUrunleri/rsm9.png" />
                    <img src="~/img/AricilikAriUrunleri/rsm10.png" />
                </center><br />
                <p>
                    Not: Ürünlerimizin internet satışı bulunmamaktadır. Sipariş vermek istediğiniz ürün için 0380 542 11 00- 1045 numaralı telefondan Merkez Sekreterimiz Metin ÇAKMAK' tan bilgi alabilirsiniz.
                </p><br /><br />

            </div>
        </div>
    </div><br /><br /><br /><br /><br />
</section>
