<style>
    .container p a {
        color: black;
    }

        .container p a:hover {
            color: #FB4;
        }

    p {
        text-align: justify;
    }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10  col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>Barınma</h2><br />
                <p>Öğrencilerimiz barınma ihtiyacını;</p>
                <p>1- Kredi ve Yurtlar Kurumu (KYK) yurtlarından;</p>
                <p>Düzce'de halen Kredi ve Yurtlar Kurumu'na bağlı 6'sı kız olmak üzere 12 yükseköğrenim öğrenci yurdu bulunmaktadır. 2020-2021 Eğitim-öğretim yılında 1 adet yeni yurt binası da faaliyete açılacaktır.</p>
                <p>Yeni ilave dilecek yurt binaları ile birlikte toplam 10.507 öğrencimize Kredi ve Yurtlar Kurumu (KYK) yükseköğrenim öğrenci yurtlarında modern, rahat, güvenli ve düşük ücretle barınma imkanı sağlanmaktadır.</p>
                <p>Başvuru, duyuru ve bilgi almak için&nbsp;<a href="https://kygm.gsb.gov.tr/">TIKLAYINIZ.&nbsp;</a>&nbsp;........... Yurtlar ile ilgili görseller için <a href="https://www.kykyurtlar.com/duzce-merkez-kyk-yurtlari/">TIKLAYINIZ.</a></p>
                <br /><br />
                <center>
                    <img src="~/img/KampüsYasami/rsm9.jpg" alt="Barınma" /><br /><br />
                    <img src="~/img/KampüsYasami/rsm10.jpg" alt="Barınma" /><br /><br />
                    <img src="~/img/KampüsYasami/rsm11.jpg" alt="Barınma" /><br /><br />
                    <img src="~/img/KampüsYasami/rsm12.jpg" alt="Barınma" /><br /><br />
                </center><br />
                <p>2- Özel yurt, pansiyon ve konuk evlerinden</p>

                <p>3- Kiralık apart vb. evlerden</p>

                <p> karşılayabilirler.</p>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
        </div>
    </div>
</section>