<style>

    p {
        text-align: justify;
    }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10  col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>BGYS Politikamız</h2><br />
                <p>İdaremizin hedefleri doğrultusunda çalışmalarını gerçekleştirirken üretilen, kamu kurum/kuruluşları ile ortak kullanılan her formattaki verinin BGYS gereksinimleri çerçevesinde güvenliğinin sağlanması, bilgi varlıklarımıza yönelik kasıtlı veya kasıtsız her türlü tehdidin belirlenmesi ve bu tehditlerin oluşturabileceği risklerin yönetilebilmesi, E-Devlet çalışmaları kapsamında oluşturulan ULAKNET ağı üzerinden sağlanan veri alışverişinin güvenliğinin sağlanması amacıyla;</p>

                <ul>
                    <li>BGYS’nin yürütülmesi için kullanılan süreç ve faaliyetlerin sürekli iyileştirilmesi amacıyla düzenli gözden geçirilmesini,</li>
                    <li>Kapsam dâhilindeki kurumsal bilginin gizliliği, bütünlüğü, yetkiler dâhilinde erişilebilirliği ve sürekliliğini,</li>
                    <li>Yasal düzenlemelere, mevzuat hükümlerine ve sözleşmelere uygun şekilde hizmetlerin; hatasız, mümkün olan en kısa sürede ve kesintisiz olarak sunulmasını,</li>
                    <li>İş süreçlerinin bilgi güvenliği yönetim sistemi kapsamında hazırlanan ve onaylanan politika ve prosedürlere uygun şekilde yürütülmesini,</li>
                    <li>Bilgi güvenliği risklerinin tanımlanmasını ve sistematik olarak yönetilmesini,</li>
                    <li>Bütünsel yaklaşımımız gereği personelimizin ve iş ortaklarımızın yönetim sistemlerimize katılımını ve uyumunu sağlamak için bilinçlendirici, yönlendirici faaliyetler ve eğitim programları planlanmasını,</li>
                    <li>Bilgi teknolojileri alanında meydana gelen gelişim ve değişime uyumluluk amacıyla, bilgi güvenliği performansını etkileyen personelin istenilen yeterliliğe ulaşması için gerekli eğitimlerin alınması, dinamik bir yapı oluşturulması ve otoriteler ile iletişimin arttırılmasını,</li>
                    <li>BGYS’nin kurum kültürümüzün vazgeçilmez bir parçası olarak uygulanmasını,</li>
                </ul>
                taahhüt ederiz

                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br /><br /><br />



            </div>
        </div>
    </div>
</section>