<style>
    .container ul li a {
        color: black;
    }

        .container ul li a:hover {
            color: #FB4;
        }

    .container ul li {
        margin-bottom: 15px;
    }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10  col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>Bütçe Bilgileri</h2><br />
                <h5><b>2021</b></h5>
                <ul>
                    <li><a href="https://panel.duzce.edu.tr//Dosya/GetFile/d5cb4e6f-42b5-41a7-b6e7-12a2c035ca85" target="_blank" rel="noopener">2021 Yılı Yatırım Programı Proje Listesi</a></li>
                    <li><a href="https://www.resmigazete.gov.tr/eskiler/2020/12/20201231M1-1.htm" target="_blank">2021 Yılı Merkezi Yönetim Bütçe Kanunu</a></li>
                    <li><a href="https://www.resmigazete.gov.tr/eskiler/2020/12/202012-B98.pdf" target="_blank">Üniversitemizin 2021 Yılı Bütçesi</a></li>
                </ul><br />
                <h5><b>2020</b></h5>
                <ul>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2020/2020-Yılı-Merkezi-Yönetim-Bütçe-Kanunu.pdf" target="_blank" rel="noopener">2020 Yılı Merkezi Yönetim Bütçe Kanunu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2020/Üniversitemizin 2020 Yılı Bütçesi.pdf" target="_blank" rel="noopener">Üniversitemizin 2020 Yılı Bütçesi</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2020/Birim Ödenek Listesi.pdf" target="_blank" rel="noopener">2020 Yılı Harcama Birimlerinin Ödenek Dağılım Listesi</a></li>
                </ul><br />
                <h5><b>2019</b></h5>
                <ul>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2019/2019%20Y%C4%B1l%C4%B1%20Merkezi%20Y%C3%B6netim%20B%C3%BCt%C3%A7e%20Kanunu.pdf" target="_blank" rel="noopener">2019 Yılı Merkezi Yönetim Bütçe Kanunu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2019/2019%20Y%C4%B1l%C4%B1%20B%C3%BCt%C3%A7e%20%C3%96denekleri.pdf" target="_blank" rel="noopener">Üniversitemizin 2019 Yılı Bütçesi</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2019/2019%20Y%C4%B1l%C4%B1%20Harcama%20Birimlerinin%20%C3%96denek%20Da%C4%9F%C4%B1l%C4%B1m%20Listesi.pdf" target="_blank" rel="noopener">2019 Yılı Harcama Birimlerinin Ödenek Dağılım Listesi</a></li>
                </ul><br />
                <h5><b>2018</b></h5>
                <ul>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2018/2018 Yılı Merkezi Yönetim Bütçe Kanunu.pdf" target="_blank" rel="noopener">2018 Yılı Merkezi Yönetim Bütçe Kanunu</a></li>
                    <li>Üniversitemizin 2018 Yılı Bütçesi</li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2018/2018 ödenek dağılım cetveli.pdf" target="_blank" rel="noopener">2018 Yılı Harcama Birimlerinin Ödenek Dağılım Listesi</a></li>
                </ul><br />
                <h5><b>2017</b></h5>
                <ul>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2017/2017 Yılı Merkezi Yönetim Bütçe Kanunu.pdf" target="_blank" rel="noopener">2017 Yılı Merkezi Yönetim Bütçe Kanunu</a></li>
                    <li>2014-2017 Yılları Ödenek Tablosu</li>
                    <li>Bütçe Karşılaştırma Tablosu</li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2017/2017 Yılı Ödenek Cetveli.pdf" target="_blank" rel="noopener">Üniversitemizin 2017 Yılı Bütçesi</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2017/2017 Birim Ödenekleri Listesi.pdf" target="_blank" rel="noopener">2017 Yılı Harcama Birimlerinin Ödenek Dağılım Listesi</a></li>
                </ul><br />
                <h5><b>2016</b></h5>
                <ul>
                    <li><a href="http://www.resmigazete.gov.tr/eskiler/2016/03/20160316M1-1.htm" target="_blank" rel="noopener">2016&nbsp;Yılı Merkezi Yönetim Bütçe Kanunu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2016/2013-2016_YILLARI_ODENEK_TABLOSU.pdf" target="_blank" rel="noopener">2013-2016&nbsp;Yılları Ödenek Tablosu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2016/butce_karsilastirma_tablosu_2016.pdf" target="_blank" rel="noopener">Bütçe Karşılaştırma Tablosu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2016/2016_kurum_butce.pdf" target="_blank" rel="noopener">Üniversitemizin 2016 Yılı Bütçesi</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2016/2016_Birim_Odenek_Listesi.xls" target="_blank" rel="noopener">2016&nbsp;Yılı Harcama Birimlerinin Ödenek Dağılım Listesi</a></li>
                </ul><br />
                <h5><b>2015</b></h5>
                <ul>
                    <li><a href="http://www.resmigazete.gov.tr/eskiler/2014/12/20141226M1-1.htm" target="_blank" rel="noopener">2015 Yılı Merkezi Yönetim Bütçe Kanunu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2015/2012-2015_YILLARI_ODENEK_TABLOSU.pdf" target="_blank" rel="noopener">2012-2015 Yılları Ödenek Tablosu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2015/butce_karsilastirma_tablosu_2015.pdf" target="_blank" rel="noopener">Bütçe Karşılaştırma Tablosu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2015/2015 Yılı Bütçesi.pdf" target="_blank" rel="noopener">Üniversitemizin 2015 Yılı Bütçesi</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2015/2015 Yılı Birim Ödenekleri Listesi.xls" target="_blank" rel="noopener">2015 Yılı Harcama Birimlerinin Ödenek Dağılım Listesi</a></li>
                </ul><br />
                <h5><b>2014</b></h5>
                <ul>
                    <li><a href="http://www.resmigazete.gov.tr/eskiler/2013/12/20131227M1-1.htm">2014 Yılı Merkezi Yönetim Bütçe Kanunu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2014/2011_2014_ödenek_tablosu.pdf">2011-2014 Yılları Ödenek Tablosu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2014/butce_karsilastirma_tablosu_2014.pdf">Bütçe Karşılaştırma Tablosu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2014/2014_butcesi.pdf">Üniversitemizin 2014 Yılı Bütçesi&nbsp;</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Butce/2014/birim_odenek_listesi_2014.xls">2014 Yılı Harcama Birimlerinin Ödenek Listeleri</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Bilgilendirme/2014_ic_genelge.doc">2014 Yılı Üniversitemiz Bütçe Uygulama İç Genelgesi(Sıra No:1)</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Bilgilendirme/2014eklibilgiler.docx">2014 Yılı Bütçe Kanununa Ekli E Cetvelinde Belirtilen Limitler</a></li>
                </ul><br />
                <h5><b>2013</b></h5>
                <ul>
                    <li><a href="http://www.resmigazete.gov.tr/eskiler/2012/12/20121231M1-1.htm" target="_blank" rel="noopener">2013 Yılı Merkezi Yönetim Bütçe Kanunu</a>&nbsp;</li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/5982a091-86dc-454a-9acd-72670703ea56_3.pdf" target="_blank" rel="noopener">2010-2013 Yılları Ödenek Tablosu</a>&nbsp;</li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/4ea683cd-263c-49c1-9400-df8c2ba4cdbe_4.pdf" target="_blank" rel="noopener">Bütçe Karşılaştırma Tablosu</a>&nbsp;</li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/1b425085-ee02-41f8-a425-bcc6e9cc4ae2_1.pdf" target="_blank" rel="noopener">Üniversitemizin 2013 Yılı Bütçesi</a>&nbsp;</li>
                </ul><br />
                <h5><b>2012</b></h5>
                <ul>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/784d88ee-73dd-4963-bf30-8da3c7070787_5.pdf" target="_blank" rel="noopener">Üniversitemizin 2012 Yılı Bütçesi</a></li>
                    <li><a href="http://www.resmigazete.gov.tr/eskiler/2011/12/20111229M1-1.htm" target="_blank" rel="noopener">2012 Yılı Merkezi Yönetim Bütçe Kanunu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/cb19689a-1837-49a8-ba28-97dca93f1d93_6.pdf" target="_blank" rel="noopener">2009-2012 Yılları Ödenek Tablosu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/7450c571-6e4f-4753-97a8-5881730e0549_8.pdf" target="_blank" rel="noopener">Bütçe Karşılaştırma Tablosu(2012)</a></li>
                </ul><br />
                <h5><b>2011</b></h5>
                <ul>
                    <li><a href="http://www.strateji.duzce.edu.tr/dosyalar/mevzuat/kanunlar/20101231M1-1.htm" target="_blank" rel="noopener">2011 Yılı Merkezi Yönetim Bütçe Kanunu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/5dcc8f21-c0b7-4d48-ad99-cf31fa34d090_10.pdf" target="_blank" rel="noopener">Üniversitemiz 2011 Yılı Bütçesi</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/be90c7e1-932a-481a-86b9-f1cc8c805e34_11.pdf" target="_blank" rel="noopener">Üniversitemiz 2011 Yılı Gelir Cetveli</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/656c3693-097e-4076-b0da-67867849b21e_12.xls" target="_blank" rel="noopener">2008-2011 Yılları Ödenek Tablosu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/15016c99-69b8-47d5-89c5-49a03da7f044_13.pdf" target="_blank" rel="noopener">Bütçe Karşılaştırma Tablosu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/cfb0683e-c2d3-4062-a122-790bd4af606e_14.xls" target="_blank" rel="noopener">Ödenek Tablosu</a></li>
                </ul><br />
                <h5><b>2009-2010</b></h5>
                <ul>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/498359a1-b961-4d80-8946-41698a5acb20_15.pdf" target="_blank" rel="noopener">Üniversitemiz 2010 Yılı Bütçesi</a></li>
                    <li><a href="http://www.strateji.duzce.edu.tr/dosyalar/mevzuat/butce/20091231M1-1.htm" target="_blank" rel="noopener">2010 Yılı Merkezi Yönetim Bütçe Kanunu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/cba696c5-6ded-4dbf-b9b9-aedf4d23c7c5_17.xls" target="_blank" rel="noopener">Bütçe Karşılaştırma Tablosu</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/MHU_Butce_Harcama_Sureci.pps" target="_blank" rel="noopener">Bütçe Harcama Süreci Sunumu</a></li>
                    <li><a href="http://www.bumko.gov.tr/TR/dosyagoster.aspx?DIL=1&amp;BELGEANAH=9809&amp;DOSYAISIM=11ekorehber2009_2011.pdf" target="_blank" rel="noopener">Analitik Bütçe Sınıflandırılması</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/7033d1f1-2aef-4d5e-9b90-5423460a2087_20.xls" target="_blank" rel="noopener">Üniversitemiz 2009 Yılı Bütçesi</a></li>
                </ul><br />
            </div>
        </div>

    </div><div style="width: 100vw; height: 25vh;">

    </div>
</section>
