<style>
    .container ul li a {
        color: black;
    }

        .container ul li a:hover {
            color: #FB4;
        }
    .container ul li {
        margin-bottom: 15px;
    }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10  col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>Derslik Programları</h2><br />
                <ul>
                    <li>
                        <a href="#">
                            Mehmet Akif Ersoy Eğitim ve Kültür Merkezi  N.Ö Derslikleri için Tıklayınız.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Mehmet Akif Ersoy Eğitim ve Kültür Merkezi  İ.Ö Derslikleri için Tıklayınız.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Atatürk Eğitim ve Kültür Merkezi N.Ö Derslikleri İçin Tıklayınız.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Atatürk Eğitim ve Kültür Merkezi İ.Ö Derslikleri için Tıklayınız.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Tıp Fakültesi Derslikleri için Tıklayınız.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Mühendislik Fakültesi N.Ö Derslikleri İçin Tıklayınız.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Mühendislik Fakültesi İ.Ö Derslikleri İçin Tıklayınız.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Eğitim Fakültesi N.Ö Derslikleri için Tıklayınız.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Eğitim Fakültesi İ.Ö Derslikleri için Tıklayınız.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Orman Fakültesi Derslikleri için Tıklayınız.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Sanat. Tasarım ve Mimarlık Fakültesi Derslikleri için Tıklayınız.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Teknoloji Fakültesi N.Ö Derslikleri için Tıklayınız.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Teknoloji Fakültesi İ.Ö Derslikleri için Tıklayınız.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Fen Edebiyat Fakültesi N.Ö Derslikleri için Tıklayınız.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Fen Edebiyat Fakültesi İ.Ö Derslikleri için Tıklayınız.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            YÜZME HAVUZU AYNALI SALONU İçin Tıklayınız.
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div><div style="width: 100vw; height: 25vh;">

    </div>
</section>
