<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("SpecializationMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>Etkinlikler</h2><br />
                <h5><b>2017 Etkinlikleri</b></h5>
                <p>Çevre ve Sağlık Alanlarında İhtisaslaşma Çalışmaları Tanıtım Programı 11.05.2017</p>
                <br /><br />
                
                <h5><b>2018 Etkinlikleri</b></h5>
                <p>Geleneksel Tıpta Kalite ve Standardizasyon 1.Çalıştayı 03.05.2018</p>
                <p>Düzce Fındık Çalıştayı 08.05.2018</p>
                <p>Türkiye’nin Sıfır Atık Yolculuğu: Düzce İli Çözüm Önerileri Çalıştayı 08.10.2018</p>
                <p>Geleneksel Tıpta Kalite ve Standardizasyon 2.Çalıştayı 19.10.2018</p>
                <br /><br />
                
                <h5><b>2019 Etkinlikleri</b></h5>
                <p>Kupa Uygulamaları Eğitimi – 1 13.12.2019</p>
                <p>Geleneksel ve Tamamlayıcı Tıpta Tıbbi Mantarlar Çalıştayı 09.01.2019</p>
                <p>“Sağlıklı Yaşam İçin Kefir Tüketelim” Etkinliği 17.04.2019</p>
                <p>Düzce ! Toprağının Sesini Dinle Çalıştayı 29.04.2019</p>
                <p>Tıbbi Bitkiler Kampı 04.05.2019</p>
                <p>Açık Ders: Modern Arıcılığın Temel Prensipleri 12.06.2019</p>
                <p>Tıbbi Çaylar ve Kokular Atölyesi 07.09.2019</p>
                <p>Açık Ders: Ülkemizdeki Geleneksel ve Tamamlayıcı Tıp Uygulamaları ve Gelişim Süreci 11.09.2019</p>
                <p>Tıbbi Bitkiler Eğitim Kampı 12.10.2019</p>
                <p>GETAT İyi Klinik Uygulamaları Etik Yaklaşım Kursu 18.10.2019</p>
                <p>Arı Zehri Çalıştayı ve Sertifikalı Üretim Kursu 25.10.2019</p>
                <p>Tıbbi ve Aromatik Bitki Dikim Şenliği 05.11.2019</p>
                <br /><br />
                
                <h5><b>2020 Etkinlikleri</b></h5>
                <p>Hirudoterapi Kursu 08.02.2020</p>
                <p>Kupa Uygulamaları Eğitimi - 2 15.02.2020</p>
                <p>Düzce 1.Tarım Paneli 25.02.2020</p>
                <p>Ozon Uygulamaları Kursu 09.03.2020</p>
                <p>Mezoterapi Kursu 21.03.2020</p>
                <p>Online Tıbbi Mantar Yetiştiriciliği Kursu - 1 16.12.2020</p>
                <br /><br />
                
                <h5><b>2021 Etkinlikleri</b></h5>
                <p> Online Tıbbi Mantar Yetiştiriciliği Kursu – 2 10.02.2021</p>
                <p>Online Tıbbi Mantar Yetiştiriciliği Kursu – 3 17.02.2021</p>
                <p>Modern Tıpta Arı Ürünlerinin Yeri ve Önemi - Konferans 17.02.2021</p>
                <p>Düzce 2. Tarım Paneli 24.02.2021</p>
                <p>Online Tıbbi Mantar Yetiştiriciliği Kursu - 4 25.02.2021</p>
                <p>Online Bal Arısı Zehri Paneli 10.03.2021</p>
            </div>
        </div>
    </div><br /><br /><br /><br /><br />
</section>
