<style>
    p {
        text-align: justify;
    }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10  col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>
                    Fikri Mülkiyet
                </h2><br />

                <p>
                    2006-2021 yılları arasında 21 adet “Marka” başvurusu olmuştur. Bu başvurulardan 17 marka tescillenmiştir.
                </p>
                <p>
                    2006-2021 yılları arasında Düzce Üniversitesi hak sahipliğindeki “Patent/Faydalı Model” için 35 başvuru olmuştur. 2021 yılında 1 adet “Faydalı Model” başvurusunun tescil kararı çıkmıştır (Böcek Toplama Kafes Sistemi). Halihazırda Üniversite hak sahipliğinde olup ticarileşen bir “Patent/Faydalı Model” bulunmamakta olup 1 adet tescillenecek patent için ticarileşme girişimleri devam etmektedir.
                </p>
                <p>
                    2006-2020 yılları arasında FSMH birimine gelen ve Üniversite hak sahipliğinde olmayan toplam “Buluş Bildirim Formu (BBF)” 62 olup, 35 buluş başvurusu yapılmıştır. Tescillenen patent/faydalı model sayısı 11 olmuştur. Bu dönemde ayrıca 2 adet “Uluslararası Patent Başvurusu” yapılmıştır. 2016-2020 yılları arasında toplam tescillenenlerin Patent/Faydalı Model sayısı ise 51’dir.
                </p>
                
            </div>
        </div>

    </div><div style="width: 100vw; height: 25vh;">

    </div>
</section>
