<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("SpecializationMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>2021 Yılı Faaliyetleri</h2><br />
                <p>Larva Uygulamaları Kursu (13-20 Aralık)</p>
                <p>Ozon Uygulamaları Kursu-3 (12 Kasım-12 Aralık)</p>
                <p>Kupa Uygulamaları Eğitimi -4 (6-10 Aralık)</p>
                <p>Sülük Uygulamaları Kursu-2 (22 Kasım - 2 Aralık)</p>
                <p>Tıbbi Mantarları Tanıyalım Doğa Yürüyüşü-2 (8 Ekim)</p>
                <p>Tıbbi Mantar Miseli Üretim Teknikleri Kursu (6 Ekim)</p>
                <p>Tıbbi Mantar Yetiştiriciliği Kursu-8 (04-05 Ekim)</p>
                <p>Tıbbi Mantarları Tanıyalım Doğa Yürüyüşü (1 Ekim)</p>
                <p>Kupa Uygulamaları Eğitimi-3 (17-26 Eylül)</p>
                <p>Ozon Uygulaması Kursu-2 (16-27 Ağustos)</p>
                <p>Online Tıbbi Mantar Yetiştiriciliği Kursu-7 (01-02 Temmuz)</p>
                <p>Online Tıbbi Mantar Yetiştiriciliği Kursu-6 (27-28 Nisan)</p>
                <p>Online Tıbbi Mantar Yetiştiriciliği Kursu-5 (24-25 Mart)</p>
                <p>Online Tıbbi Mantar Yetiştiriciliği Kursu-4 (25-26 Şubat)</p>
                <p>GETAT Topluluğumuzdan “Mantarların Tıpta Kullanımı: Mikoterapi Konferansı” (23 Şubat)</p>
                <p>Online Tıbbi Mantar Yetiştiriciliği Kursu-3 (17-19 Şubat)</p>
                <p>Online Tıbbi Mantar Yetiştiriciliği Kursu-2 (10-11 Şubat)</p>
                <p>Online Tıbbi Mantar Yetiştiriciliği ve Mikoterapi Kursu (26-27 Ocak)</p>
            </div>
        </div>
    </div><br /><br /><br /><br /><br />
</section>
