<style>
    p {
        text-align: justify;
    }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin: 0px 50px 250px 50px;">
                <h2>Genel Sekreter</h2><br /><br />
                <center>
                    <img style="margin-bottom:10px;" src="~/img/Genelsekreter.jpg" alt="Genelsekreter" />
                </center><br />
                <p>Hasan Sadi ATEŞ, 1968 yılında Yığılca’da doğmuştur. İlk, orta ve lise öğrenimini Düzce’de tamamlamış olup, Anadolu Üniversitesi İktisat Fakültesi’nden mezun olmuştur. 1994 yılında Abant İzzet Baysal Üniversitesi'ne bağlı olan Orman Fakültesi Mali İşler biriminde memur olarak memuriyet hayatına başlamıştır. 2006 yılında Düzce Üniversitesi’nin kurulması itibariyle Üniversitemiz Genel Sekreter Yardımcısı görevini yürütmüştür. 2012 yılından itibaren Üniversitemizin Genel Sekreteri olarak görevine devam etmektedir. Evli ve iki çocuk babasıdır.</p>
            </div>
        </div>
    </div>
</section>