<style>
    p {
        text-align: justify;
    }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>Girişimcilik Endeksi</h2><br />
                <center>
                    <img src="~/img/Siralamalar/GirisimcilikEndeksi.jpg" class="resim" alt="URAP" /><br /><br />
                </center><br />
                <h5><b>Girişimcilik ve Yenilikçilik Endeksi</b></h5>
                <p>TÜBİTAK tarafından, üniversitelerin girişimcilik ve yenilikçilik performanslarına göre sıralandığı "Girişimci ve Yenilikçi Üniversite Endeksi" ile ülkemizin en girişimci ve yenilikçi 50 üniversitesi belirlenmektedir.</p>
                <p>Endeks, üniversiteleri girişimcilik ve yenilikçilik performanslarına göre sıralayarak, üniversiteler arası girişimcilik ve yenilikçilik odaklı rekabetin artmasına böylelikle girişimcilik ekosisteminin gelişmesine katkı sağlamaktadır. Endeks ile üniversiteler, bilimsel ve teknolojik araştırma yetkinliği, fikri mülkiyet havuzu, işbirliği ve etkileşim, girişimcilik ve yenilikçilik kültürü ile ekonomik katkı ve ticarileşme gibi göstergelere göre sıralanmaaktadır.</p><br />
                <h5><b>Üniversitemiz Girişimcilik ve Yenilikçilik Endeksi’nde Yer Alma Başarısını Sürdürüyor</b></h5>
                <p>Üniversiteleri girişimcilik ve yenilikçilik performanslarına göre değerlendiren “TÜBİTAK Girişimci ve Yenilikçi Üniversite 2020 Endeksi” açıklandı. Üniversitemiz, endekste yine ilk 50 üniversite içerisinde yer alma başarısı göstererek girişimci ve yenilikçi odaklı olduğunu bir kez daha kanıtladı.</p>
                <p>‘Bilimsel Teknolojik Araştırma Yetkinliği’, ‘Fikri Mülkiyet Havuzu’, ‘İş Birliği ve Etkileşim’ ile ‘Ekonomik Katkı ve Ticarileşme’ olmak üzere dört boyutta ve birçok göstergeye göre hazırlanan “Girişimci ve Yenilikçi Üniversite 2020 Endeksi”ne daha önceki yıllarda olduğu gibi yine dahil olma başarısı gösteren Üniversitemiz, katma değerli bilimsel projelerin, nitelikli iş birliklerinin ve bölgesel kalkınma odaklı ihtisaslaşma çalışmalarının meyvelerini toplamaya devam ediyor.</p>
                <br /><br />
            </div>
        </div>
    </div>
</section>