<style>
    p {
        text-align: justify;
    }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>Green Metric</h2><br />
                <center>
                    <img src="~/img/Siralamalar/GreenMetric1.jpg" class="resim" alt="GreenMetric" /><br /><br />
                </center><br />
                <p>Endonezya Üniversitesi tarafından hazırlanan GreenMetric Endeksi’nde üniversiteler; çevre düzenlemesi, enerji, iklim değişikliği, atık, su, ulaşım, eğitim ve karbon ayak izi ölçümleri gibi farklı alanlardaki çeşitli kriterlere göre sıralanmaktadır.</p>
                <br />
                <h5><b>Üniversitemiz GreenMetric Endeksi’nde Yer Alma Başarısını Sürdürüyor</b></h5><br />
                <p>2020 yılında dünyanın çeşitli ülkelerinden 912 üniversitenin dahil olduğu endekste, 56 Türk üniversitesi yer aldı.  2018 ve 2019 yıllarında da listeye girmeyi başaran Üniversitemiz, 2020 endeksine de adını yazmayı başardı.</p>
                <p>Sürdürülebilir bir yaşam için katma değerli akademik çalışmaların yanı sıra Temiz Üniversite-Temiz Düzce gibi sosyal sorumluluk faaliyetleriyle de yeşil ve temiz kampüs çalışmalarını sürdüren Üniversitemiz, yaptığı çalışmalarla da uluslararası sıralamalarda adını duyurmaya devam ediyor.</p>
                <center>
                    <img src="~/img/Siralamalar/GreenMetric2.jpg" class="resim" alt="GreenMetric" /><br /><br />
                    <img src="~/img/Siralamalar/GreenMetric3.jpg" class="resim" alt="GreenMetric" /><br /><br />
                </center>
                <br /><br />
            </div>
        </div>
    </div>
</section>