<style>
    p {
        text-align: justify;
    }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>İnnovaLig</h2>
                <p>Türkiye İhracatçılar Meclisi tarafından, uluslararası yönetim danışmanlığı firması IMP3rove Academy'nin iş birliğiyle gerçekleştirilen Türkiye’nin ilk inovasyon geliştirme programıdır. İnovaLİG ile şirketler hem inovasyon yetkinlikleri bazında yarışmakta, hem de inovasyon kültürlerini interaktif bir platformda geliştirme fırsatı bulmaktadır.</p>
                <p>Türkiye İhracatçılar Meclisi (TİM) tarafından düzenlenen, ülkemizin ilk inovasyon geliştirme programı olan ve inovasyon şampiyonlarını belirleyen İnovaLİG 2018'de Üniversitemiz yürütmekte olduğu yenilikçi çalışmalarla, 1.216 firma arasından İnovasyon Kaynakları kategorisinde ilk 10’da yer alarak Üstün Başarı Sertifikası almaya hak kazandı.</p>
                <p>Ülkemizin 2023 hedeflerine ulaşmasında inovasyonun ve buna bağlı olarak üretilecek katma değeri yüksek ürünlerin öneminin vurgulandığı İnovaLİG’de, Üniversitemiz, “Bölgesel Kalkınma Odaklı Misyon Farklılaşması ve İhtisaslaşması” kapsamında yürüttüğü çalışmalar, endüstri kuruluşları ile gerçekleştirdiği iş birliktelikleri, şehrimizdeki ve bölgemizdeki çiftçilere yönelik yaptığı çalışmalar, katma değeri yüksek ürünler üretmek amacı ile çiftçilere verilen eğitimler gibi yürüttüğü birçok yenilikçi çalışmalarla değerlendirme de yer aldı.</p>
                <p>Üniversitemiz ve Düzce Teknopark'tan İnovaLİG Başarısı</p>
                <p>Türkiye İhracatçılar Meclisi (TİM) tarafından düzenlenen, ülkemizin ilk inovasyon geliştirme programı olan ve inovasyon şampiyonlarını belirleyen İnovaLİG 2017'de, Üniversitemiz ve Düzce Teknopark, İnovasyon Organizasyonu ve Kültürü kategorisinde Üstün Başarı Sertifikası almaya hak kazandı.</p>
                <p>Şirketlerin ve kurumların uzun soluklu bir başvuru ve değerlendirme sürecine dahil olduğu programa 971 şirket başvuruda bulundu. Şirket ve kurumlar; “İnovasyon Stratejisi”, “İnovasyon Organizasyonu ve Kültürü”, “İnovasyon Döngüsü”, “İnovasyon Kaynakları” ve “İnovasyon Sonuçları” kategorilerinde yarıştı.</p>
                <p>Başvuru ve değerlendirmeler sonucunda; İnovasyon Organizasyonu ve Kültürü kategorisinde, Üniversitemiz 16., Düzce Teknopark da 32. olarak  üstün başarı sertifikası ile ödüllendirildi.</p>
                <br />
                <br />
                <center>
                    <img src="~/img/Siralamalar/InnovaLic1.jpg" class="resim" alt="URAP" /><br /><br />
                    <img src="~/img/Siralamalar/InnovaLic2.jpg" class="resim" alt="URAP" /><br /><br />
                    <img src="~/img/Siralamalar/InnovaLic3.jpg" class="resim" alt="URAP" /><br />
                </center>
                <br /><br />

            </div>
        </div>
    </div>
</section>