<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>Kalite Politikamız</h2>
                <br /><br />
                <center>
                    <img src="~/img/Siralamalar/KalitePolitikamız.png" class="resim" alt="KalitePolitikamız" /><br /><br />
                    
                </center>
                <br /><br />

            </div>
        </div>
    </div>
</section>
