<style>
    p {
        text-align: justify;
    }
    .container p a {
        color: black;
    }

        .container p a:hover {
            color: #FB4;
        }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>
                    Kurum İç Değerlendirme Raporları
                </h2><br />
                <div class="unit-content">
                    <p><a href="https://cdn.duzce.edu.tr/File/GetFile/59abd172-761a-419c-9b2c-5c7a67adbaec" target="_blank">2020 Yılı Kurum İç Değerlendirme Raporu</a> <strong>(2020-2021 Eğitim Öğretim Yılı)</strong></p>

                    <p><a href="https://panel.duzce.edu.tr/Dosya/GetFile/7436da79-aa74-4877-be96-2dc9981c9140" target="_blank">2020 Yılı Kurum İç Değerlendirme Raporu Hazırlama Kılavuzu</a>&nbsp;<strong>(2020-2021 Eğitim Öğretim Yılı)</strong></p>
                    <br />
                    <p><strong><a href="https://cdn.duzce.edu.tr/File/GetFile/ee4981cd-0020-416b-ab07-dec8457a9f40"><span style="color:#2980b9">2020 Yılı Kurumsal Geri Bildirim Raporu</span></a></strong> <strong>(Değerlendirme Tarihi: 16 Aralık 2020)</strong></p>

                    <p><u><strong>İzleme Takım Üyeleri:</strong></u> Prof.Dr. Bilal GÜNEŞ (Takım Başkanı)</p>

                    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Prof.Dr.Volga BAYRAKÇI TUNAY (Akademik Değerlendirici)</p>

                    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Prof.Dr.Metin GÜMÜŞ (Akademik Değerlendirici)</p>

                    <p><a href="https://cdn.duzce.edu.tr/File/GetFile/61e9b364-d9a5-4379-bac6-583085af7360" target="_blank">2020&nbsp;Yılı&nbsp;Uzaktan Eğitimde Kalite Güvencesi Ek&nbsp;Raporu</a>&nbsp;</p>

                    <p><a href="https://cdn.duzce.edu.tr/File/GetFile/74568763-7c3e-41a0-aedb-dd7a0c706282" target="_blank">2019 Yılı Kurum İç Değerlendirme Raporu</a>&nbsp;<strong>(2019-2020 Eğitim Öğretim Yılı)</strong><a href="https://panel.duzce.edu.tr/Dokumanlar/surekliiyilestirme/Dosyalar/KIDR%202018d.pdf"><strong>&nbsp;</strong></a></p>

                    <p><a href="https://cdn.duzce.edu.tr/File/GetFile/fd7f445a-03fc-447a-8870-833888e30375" target="_blank">2018 Yılı Kurum İç Değerlendirme Raporu</a>&nbsp;&nbsp;<strong>(2018-2019 Eğitim Öğretim Yılı)<a href="https://surekliiyilestirme.duzce.edu.tr/Dokumanlar/surekliiyilestirme/KurumIcDeger/2016-kurum-ic-degerlendirme.doc">&nbsp;</a><a href="https://panel.duzce.edu.tr/Dokumanlar/surekliiyilestirme/Dosyalar/2017-2018%20KIDR%20Raporu.pdf">&nbsp;</a></strong></p>

                    <p><a href="https://cdn.duzce.edu.tr/File/GetFile/9ca0156d-156b-48cb-9d03-3f65d122586f" target="_blank">2017 Yılı Kurum İç Değerlendirme Raporu</a>&nbsp;<strong>(2017-2018 Eğitim Öğretim Yılı)<a href="https://panel.duzce.edu.tr/Dokumanlar/surekliiyilestirme/KurumIcDeger/2016-kurum-ic-degerlendirme.doc">&nbsp;</a></strong></p>

                    <p><a href="https://cdn.duzce.edu.tr/File/GetFile/dc1e277c-d0b8-4a02-8282-c82c41773f56" target="_blank">2016 Yılı Kurum İç Değerlendirme Raporu</a>&nbsp;<strong>(2016-2017 Eğitim Öğretim Yılı</strong>) -&nbsp;<strong><a href="https://surekliiyilestirme.duzce.edu.tr/Dokumanlar/surekliiyilestirme/KurumIcDeger/ekler_2016.rar"><span style="color:windowtext">EKLER</span></a><u>İ</u></strong></p>

                    <p><strong><a href="https://cdn.duzce.edu.tr/File/GetFile/dc1e277c-d0b8-4a02-8282-c82c41773f56" target="_blank"><span style="color:#2980b9">2016 Yılı Kurumsal Geri Bildirim Raporu&nbsp;</span></a></strong></p>

                    <p><a href="https://cdn.duzce.edu.tr/File/GetFile/effb5472-7f2a-4c01-a448-52647d4cf496" target="_blank">2015 Yılı Kurum İç Değerlendirme Raporu</a>&nbsp;<strong>(2015-2016 Eğitim Öğretim Yılı)</strong></p>


                    <p><a href="https://surekliiyilestirme.duzce.edu.tr/Dokumanlar/surekliiyilestirme/K%C4%B0DRNewFolder/Y%C3%9CKSEK%20%C3%96%C4%9ERET%C4%B0MDE%20KAL%C4%B0TE%20G%C3%9CVENCES%C4%B0%20Y%C3%96NETMEL%C4%B0%C4%9E%C4%B0%20SUNUM.pdf">YÜKSEK ÖĞRETİMDE KALİTE GÜVENCESİ YÖNETMELİĞİ SUNUM.pdf-Yrd.Doç.Dr. Okan BÜTÜNER</a></p>

                    <p><a href="https://surekliiyilestirme.duzce.edu.tr/Dokumanlar/surekliiyilestirme/K%C4%B0DRNewFolder/K%C4%B0DR-%20KAL%C4%B0TE%20G%C3%9CVENCE%20S%C4%B0STEM%C4%B0-E%C4%9E%C4%B0T%C4%B0M-%C3%96%C4%9ERET%C4%B0M-Sunum.pdf" style="text-align: justify;">KALİTE GÜVENCE SİSTEMİ EĞİTİM ÖĞRETİM-Sunum.pdf-Doç. Dr. Abdullah ADIGÜZEL</a></p>

                    <p>&nbsp;</p>

                   

                </div>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

            </div>
        </div>
    </div>
</section>
