<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("AcademicMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin-left:15px;">
                <br />
                <h2>Kurullar</h2>
                <p>Senato</p>
                <p>Üniversite Yönetim Kurulu</p>
                <p>Üniversite Disiplin Kurulu</p>
                <p>Reklam Tanıtım Kurulu</p>
                <p>Akademik Değerlendirme Kurulu</p>
                <p>Yetkili Kurul</p>
                <p>Bilimsel Araştırma ve Yayın Etik Kurulu</p>
                <p>Geleneksel ve Tamamlayıcı Tıp Uygulamaları Klinik Arş.Etik Kurulu</p>
                <p>Girişimsel Olmayan Sağlık Araştırma Etik Kurulu</p>
                <p>Hayvan Deneyleri Yerel Etik Kurulu</p>
                <p>Klinik Araştırma Etik Kurulu</p>



            </div>
        </div>
    </div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</section>