<style>
    p {
        text-align: justify;
    }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10  col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>Proje Sayıları</h2>

                <p>
                    2006-2020 yılları arasında BAP kapsamında yeni başlayan 1231 olmuştur. Bu projelerden 1092’si tamamlanmış, 2020 yılı itibariyle 139 proje devam etmektedir. 2006-2020 yılları arasında Yüksek lisans, Doktora, Sanatta Yeterlilik ve Tıpta Uzmanlık Tez Projeleri kapsamında ise 83 proje başarıyla hayata geçirilmiştir.
                </p>
                <p>
                    2006-2020 yılları arasında TUBİTAK kapsamında yeni başlayan 85 proje olmuştur. Bu projelerden 77’si tamamlanmış, 2020 yılı itibariyle 8 proje devam etmektedir.
                </p>
                <p>
                    2006-2020 yılları arasında MARKA kapsamında yeni başlayan 28 proje olmuştur. Bu projelerden 24’ü tamamlanmış, 2020 yılı itibariyle 4 proje devam etmektedir.
                </p>
                <p>
                    2006-2020 yılları arasında SAN-TEZ kapsamında yeni başlayan 4 proje olmuştur. Bu projelerden 4’ü de tamamlanmıştır.
                </p>
                <p>
                    2006-2020 yılları arasında AB kapsamında yeni başlayan 39 proje olmuştur. Bu projelerden 35’i tamamlanmış, 2020 yılı itibariyle 4 proje devam etmektedir.
                </p>
                <p>
                    2006-2020 yılları arasında DPT kapsamında 2010 yılında sadece 1 proje hayata geçirilmiştir.
                </p>

            </div>
        </div>
        
    </div><div style="width: 100vw; height: 25vh;">

</div>
</section>