<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin: 0px 50px 350px 50px;">
                <h2>Rektör Yardımcıları</h2>
                <table class="table" style="border:0;" width="1000">
                    <tbody>
                        <tr>
                            <td style="width: 333px; text-align: center;">
                                <p style="width: 310px; height: 190px; overflow: hidden; display: inline-block;"><img style="width: 100%;" src="~/img/rektöryardımcıları/1.jpg" data-filename="Res"></p>
                            </td>
                            <td style="width: 333px; text-align: center;">
                                <p style="width: 310px; height: 190px; overflow: hidden; display: inline-block;"><img style="width: 100%;" src="~/img/rektöryardımcıları/2.jpg" data-filename="Res"></p>
                            </td>
                            <td style="width: 333px; text-align: center;">
                                <p style="width: 310px; height: 190px; overflow: hidden; display: inline-block;"><img style="width: 100%;" src="~/img/rektöryardımcıları/3.jpg" data-filename="Res"></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 333px; text-align: center;">
                                <p><a href="#" target="_blank">Prof. Dr. İlhan GENÇ</a></p>

                            </td>
                            <td style="width: 333px; text-align: center;">
                                <p><a href="#" target="_blank">Prof. Dr. İdris ŞAHİN</a></p>

                            </td>
                            <td style="width: 333px; text-align: center;">
                                <p><a href="#" target="_blank">Prof. Dr. Mehmet Akif ÖNCÜ</a></p>

                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
</section>