<style>
    p {
        text-align: justify;
    }
</style>

<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin: 0px 50px 250px 50px;">
                <h2>Rektör</h2>
                <center>
                    <img style="margin-bottom:10px;" src="~/img/rektor.jpg" alt="rektor" />
                    <p>Prof. Dr. Nigar DEMİRCAN ÇAKAR Kimdir?</p>
                </center>
                <p>Prof. Dr. Nigar DEMİRCAN ÇAKAR, 1976 yılında İstanbul’da doğdu. Beşiktaş Atatürk Anadolu Lisesi’ni bitirdikten sonra lisans eğitimini 1998 yılında Mimar Sinan Üniversitesi İstatistik Bölümü’nde tamamladı. Gebze Teknik Üniversitesi İşletme Fakültesi Yönetim ve Organizasyon Anabilim Dalı’nda 2000 yılında yüksek lisans, 2003 yılında da doktora eğitimini tamamladı. 2003-2005 yılları arasında Amerika Birleşik Devletleri’nde ve Sabancı Üniversite’sinde doktora sonrası araştırmacı olarak çalıştı. 2005 yılında Yönetim ve Organizasyon alanında Doçent unvanını aldı ve Abant İzzet Baysal Üniversitesi İşletme Bölümü’ne doçent olarak atandı. Anabilim dalı başkanlığı, bölüm başkanlığı ve dekan yardımcılığı görevlerini yürüttü.</p>
                <p>2008 yılında Düzce Üniversitesi’nde göreve başladı ve 2010 yılında Düzce Üniversitesi’nde Profesör unvanını aldı. Anabilim dalı başkanlığı, merkez müdürlüğü ve dekanlık görevlerini yürüttü. 2010- 2015 yılları arasında Düzce Üniversitesi Rektör Yardımcılığı ve İşletme Fakültesi Dekanlığı görevlerini yürütmüştür. 15 Mayıs 2015 tarihinde ilk ve 24 Mayıs 2019 tarihinde ise ikinci kez Cumhurbaşkanımız Recep Tayyip Erdoğan tarafından Düzce Üniversitesi Rektörü olarak atanmıştır. Üniversitelerarası Kurul Üyeliği ve Yükseköğretim Kurulu Etik Kurul Üyeliği yapmıştır. Avrupa Üniversiteler Birliği (EUA) Seçici Kurulu üyesidir. Çoğunluğu örgüt kültürü, yenilik yönetimi ve örgütsel sadakat konularında olmak üzere yönetim bilimleri ve örgütsel davranış alanında 50’den fazla uluslararası ve ulusal yayına sahiptir. Bu yayınlarına yapılmış 800’den fazla da atıf bulunmaktadır. İleri düzeyde İngilizce bilmektedir. İki çocuk annesidir.</p>
            </div>
        </div>
    </div>
</section>