<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin: 0px 50px 250px 50px;">
                <h2>Rektörlerimiz</h2><br />
                <center>
                    <img style="margin-bottom:10px;" src="~/img/Rektorlerimiz.jpg" alt="rektor" />
                    <p><a href="https://cdn.duzce.edu.tr/File/GetFile/9c585f41-32d3-48f3-a881-75a70e3764af">Prof.Dr. Funda SİVRİKAYA ŞERİFOĞLU</a> (2007-2015)</p>
                    <p>Düzce Üniversitesi Kurucu Rektörü</p>
                </center>
            </div>
        </div>
        </div>
</section>