<style>
    .container p a {
        color: black;
    }

        .container p a:hover {
            color: #FB4;
        }
    p {
        text-align: justify;
    }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10  col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>Spor Hizmetleri Birimi</h2><br />
                <p>Üniversitemizde Spor Hizmetleri, Başkanlığımız tarafından yürütülmektedir. Üniversite Sporları Federasyonu Başkanlığınca düzenlenen spor müsabakaları, Başkanlığımız ile Spor Bilimleri Fakültesi iş birliği ile yürütülmektedir.</p>
                <p>Spor Hizmetleri Düzce Üniversitesi öğrencilerinin ders dışında kalan zamanlarının değerlendirilmesi, beden ve ruh sağlığının korunması ve dengeli gelişmelerine yardımcı olunması amacıyla spor faaliyetlerini organize etmek, Üniversitemiz Akademik Personel ve İdari Personelin spor hizmetleri ve tesislerden yararlanabilmelerini sağlamaktır.</p>
                <ul>
                    <li>
                        <p>Başkanlığımızca organizasyonu yapılan, Üniversitemiz Fakülteleri ve Yüksekokulları öğrencileri arasında düzenlenen spor faaliyetleri.</p>
                    </li>
                    <li>
                        <p>Üniversite Sporları Federasyonu Başkanlığınca organizasyonu yapılan üniversiteler arası spor faaliyetleri.</p>
                    </li>
                    <li>
                        <p>Avrupa Üniversite Sporları Birliğince organizasyonu yapılan Avrupa Üniversiteleri arası spor faaliyetleri.</p>
                    </li>
                    <li>
                        <p>Diğer Üniversitelerin düzenledikleri spor faaliyetleri</p>
                    </li>
                </ul><br />
                <p>Üniversitemiz Bünyesinde:</p>
                <ul>
                    <li>
                        <p><a href="https://sks.duzce.edu.tr/Sayfa/b35e/kapali-spor-salonu" target="_blank">Kapalı Spor Salonu</a></p>
                    </li>
                    <li>
                        <p><a href="https://sks.duzce.edu.tr/Sayfa/6c80/kondisyon-salonu" target="_blank">Kondisyon Salonu</a></p>
                    </li>
                    <li>
                        <p><a href="https://sks.duzce.edu.tr/Sayfa/d3bb/kapali-hali-sahasi" target="_blank">Kapalı Halı Sahası</a></p>
                    </li>
                    <li>
                        <p><a href="https://panel.duzce.edu.tr/Sayfa/EkleDuzenle/8c5383e2-c89c-4023-8f8f-20aac8a7d1b3" target="_blank">Stadyum</a></p>
                    </li>
                    <li>
                        <p><a href="#"></a>Açık Basketbol Sahası</p>
                    </li>
                    <li>
                        <p><a href="https://sks.duzce.edu.tr/Sayfa/e154/kapali-2-kortlu-tenis-kortu" target="_blank">Kapalı 2 Kortlu Tenis Kortu</a></p>
                    </li>
                    <li>
                        <p><a href="https://sks.duzce.edu.tr/Sayfa/b895/yari-olimpik-yuzme-havuzu" target="_blank">Yarı Olimpik Yüzme Havuzu</a></p>
                    </li>
                </ul>
                <p><a href="https://panel.duzce.edu.tr//Dosya/GetFile/69f30b2e-8110-4ee3-8716-7d0d9bb30256" rel="noopener" target="_blank">Kiralama ve Kullanım Ücretleri için TIKLAYINIZ..</a></p>
                <br /><br />
                <img src="~/img/KampüsYasami/rsm1.png" alt="Üniversitemiz Stadyumu" /><br /><br />
                <img src="~/img/KampüsYasami/rsm2.png" alt="Üniversitemiz Stadyumu" />
                <p>Üniversitemiz Stadyumu</p><br />

                <img src="~/img/KampüsYasami/rsm3.png" alt="Yarı Olimpik Yüzme Havuzu" /><br /><br />
                <img src="~/img/KampüsYasami/rsm4.png" alt="Yarı Olimpik Yüzme Havuzu" />
                <p>Yarı Olimpik Yüzme Havuzu</p><br />

                <img src="~/img/KampüsYasami/rsm5.png" alt="Fitnes Salonu" />
                <p>Fitnes Salonu</p><br />

                <img src="~/img/KampüsYasami/rsm6.png" alt="Halı Saha" />
                <p>Halı Saha</p><br />

                <img src="~/img/KampüsYasami/rsm7.png" alt="Kapalı Spor Salonu" />
                <p>Kapalı Spor Salonu</p><br />

                <img src="~/img/KampüsYasami/rsm8.png" alt="Kapalı Tenis Kortlar" />
                <p>Kapalı Tenis Kortlar</p><br />

                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
        </div>
    </div>
</section>