<style>
    p {
        text-align: justify;
    }
    .container ul li a{
        color: black;
    }
        .container ul li a:hover {
            color: #FB4;
        }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>Stratejik Plan Raporları</h2>
                <br />
                <h6><b>2020 - 2024 STRATEJİK PLAN ÇALIŞMALARI</b></h6>
                <ul>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Stratejikplan/Stratejik_Plan_20-24.pdf" target="_blank" rel="noopener">Düzce Üniversitesi 2020-2024 Stratejik Planı</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Dosyalar/2020-2024istakvimi.xlsx" target="_blank" rel="noopener">Stratejik Planlama İş Takvimi</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Stratejikplan/Stratejik%20Planlama%20Ekibi%2022.05.2018.xlsx" target="_blank" rel="noopener">Üniversite Stratejik Planlama Ekibi</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Stratejikplan/Strateji%20Geli%C5%9Ftirme%20Kurul%20%C3%9Cyeleri.pdf" target="_blank" rel="noopener">Üniversite Strateji Geliştirme Kurul Üyeleri&nbsp;</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Stratejikplan/Genelge_2018_2.pdf" target="_blank" rel="noopener">Düzce Üniversitesi Stratejik Planlama Genelge 2018/2</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Stratejikplan/STRATEJ%C4%B0K%20PLAN%20GENELGE%202018-1.pdf" target="_blank" rel="noopener">Düzce Üniversitesi Stratejik Planlama Genelge 2018/1&nbsp;</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Stratejikplan/Universiteler%20Icin%20Stratejik%20Planlama%20Rehberi.pdf" target="_blank" rel="noopener">Üniversiteler İçin Stratejik Planlama Rehberi</a></li>
                </ul><br />
                <h6><b>2015 - 2019 STRATEJİK PLAN ÇALIŞMALARI</b></h6>
                <ul>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Stratejikplan/D%C3%BCzce%20%C3%9Cniversitesi%202015-2019%20Stratejik%20Plan.pdf" target="_blank" rel="noopener">Düzce Üniversitesi 2015-2019 Stratejik Planı</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Stratejikplan/Stratejik%20Plan%20G%C3%B6sterge%20Takibi.xlsx" target="_blank" rel="noopener">Stratejik Plan Gösterge Takibi</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Stratejikplan/2015_2019_sp_yol_haritas%C4%B1.doc">Düzce Üniversitesi 2015-2019 Stratejik Plan Takvimi</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Stratejikplan/stratejikplan_icgenelge.doc">Düzce Üniversitesi Stratejik Plan İç Genelgesi</a></li>
                    <li><a href="https://strateji.duzce.edu.tr/Dokumanlar/strateji/Stratejikplan/stratejik_planlama_kilavuzu.pdf">Stratejik Planlama Kılavuzu</a></li>
                    <li><a href="https://surekliiyilestirme.duzce.edu.tr/Dokumanlar/surekliiyilestirme/RAPORLAR/2015-2019 stratejik plan çalışmaları ilk sunumu.pdf" target="_blank" rel="noopener">2015-2019 Stratejik Plan Çalışmaları İlk Sunumu</a></li>
                    <li><a href="https://surekliiyilestirme.duzce.edu.tr/Dokumanlar/surekliiyilestirme/RAPORLAR/2015-2019 Stratejik Plan Çalışmaları Durum Analizi Eğitim Sunumu.pptx">2015-2019 Stratejik Plan Çalışmaları Durum Analizi Eğitim Sunumu</a></li>
                    <li><a href="https://surekliiyilestirme.duzce.edu.tr/Dokumanlar/surekliiyilestirme/RAPORLAR/2015-2019 Stratejik Plan Çalışmaları Stratejik Amaç ve Hedefler.pptx">2015-2019 Stratejik Plan Çalışmaları Stratejik Amaç ve Hedefler</a></li>
                </ul><br />

                <h6><b>2010 - 2014 STRATEJİK PLAN ÇALIŞMALARI</b></h6>
                <ul>
                    <li><a href="http://www.duzce.edu.tr/surekliiyilestirme/dosya/sp/DU_Stratejik_Plani_2010-2014.pdf" target="_blank" rel="noopener">Düzce Üniversitesi 2010-2014 Stratejik Planı</a></li>
                    <li><a href="http://www.duzce.edu.tr/surekliiyilestirme/dosya/sp/SPK_Uyeler_a_.pdf" target="_blank" rel="noopener">Stratejik Planlama Kurulu</a></li>
                    <li><a href="http://www.duzce.edu.tr/surekliiyilestirme/dosya/sp/SPK_Birim_Ekipler_b_.pdf" target="_blank" rel="noopener">Birim Stratejik Planlama Ekipleri</a></li>
                </ul>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

            </div>
        </div>
    </div>
</section>
