<style>
    p {
        text-align: justify;
    }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>Birimimiz</h2>
                <p>Sürekli İyileştirme Koordinatörlüğü 25.07.2008 tarihinde Düzce Üniversitesinin hizmet kalitesini geliştirmeye yönelik çalışmalarını kurumsal bir zemine oturtmak ve sürekliliğini güvence altına almak için gerekli yapılanmaları gerçekleştirmek amacıyla kurulmuştur. Sürekli İyileştirme Koordinatörlüğünün temel faaliyet alanı kalite, stratejik plan, iç kontrol ve Yükseköğretim Kalite Kurulu(YÖKAK) kapsamındaki çalışmalar olup; bu çalışmaları yürütmek adına kurulan birim aşağıdaki gibi yapılanmıştır:</p>
                <br />
                <h5><b>KOORDİNATÖRLÜĞÜMÜZÜN AMACI:</b></h5>
                <p>Düzce Üniversitenin "Değer Üreten Üniversite" anlayış ve kültürünü tüm birimlere yayılmasını sağlamak, “Sürekli İyileştirme Kültürü”nü Üniversitemizde yaygınlaştırmak ve bu bağlamda gerekli olan planlama, uygulama, kontrol etme ve önlem alma (PUKÖ) işlevlerini yerine getirmektir.</p>
                <br />
                <h5><b>FAALİYET ALANLARI:</b></h5>
                <ul>
                    <li> Kalite geliştirmeye yönelik çalışmaları yürütmek,</li>
                    <li>Akademik ve idari hizmetleri geliştirmeye yönelik ölçme, izleme ve değerlendirme çalışmalarını yürütmek,</li>
                    <li>İç ve dış değerlendirme organizasyonlarını koordine etmek ve yürütmek,</li>
                    <li>Üniversite birimlerinde yer alan kalite komisyonları ile eş güdümü sağlamak,</li>
                    <li>Sürekli iyileştirme süreci ile ilgili düzeltici ve önleyici faaliyetlerin takibini sağlamak,</li>
                    <li>Kaliteye yönelik seminerlere, konferans ve toplantılara katılarak; elde edilen bilgileri üniversitemize yaymak,</li>
                    <li>Kalite Yönetim Sisteminin geliştirilmesi ve doğru bir şekilde yürütülmesi için personellere eğitim ve toplantılar düzenlemek,</li>
                    <li>Üniversitede yürütülen iyileştirme çalışmalarına ilişkin yenilikçi ve özgün fikirleri belirleyerek, kurum içerisinde yaygınlaştırılmasını sağlamaktır.</li>

                </ul>
                <p>Düzce Üniversitesi Sürekli İyileştirme Koordinatörlüğü faaliyet ve görevlerini kanunlara, yönetmeliklere uygun olarak yürütmek üzere Rektör ve ilgili Rektör Yardımcısına karşı sorumludur.</p>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

            </div>
        </div>
    </div>
</section>
