<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("SpecializationMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin-left:15px;">
                <br /><h2>Tarımsal Atıkların Geri Kazanımı Faaliyetleri</h2><br />
                <h4>2021</h4><br />

                <table class="table table-striped border" width="955" cellspacing="0" cellpadding="0">
                    <colgroup><col width="104"> <col width="189"> <col width="255"> <col width="407"> </colgroup>
                    <tbody>
                        <tr>
                            <td colspan="4" height="36">
                                <p>DÜTAGAM FAALİYETLER</p>
                            </td>
                        </tr>
                        <tr>
                            <td height="21">
                                <p>TARİH</p>
                            </td>
                            <td>
                                <p>FAALİYET</p>
                            </td>
                            <td>
                                <p>KATILAN PERSONEL</p>
                            </td>
                            <td>
                                <p>KONU</p>
                            </td>
                        </tr>
                        <tr>
                            <td height="60">
                                <p>15.01.2021</p>
                            </td>
                            <td>
                                <p>KOSGEB AR-GE Projesi</p>
                            </td>
                            <td>
                                <p>Öğr. Gör. Recai ARSLAN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            </td>
                            <td>
                                <p>Performansı Artırılmış Lamine Kompozit Malzemelerin Geliştirilmesi ve&nbsp;Karakterizasyonu&nbsp; (Proje Bütçesi: 154.358,70&nbsp;TL)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</section>
