<style>
    p {
        text-align: justify;
    }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("ResearchMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>Koordinatörlük</h2><br />
                <h4>KURULUŞ</h4>
                <p>Düzce Üniversitesi Teknoloji Transfer Ofisi ilk olarak Düzce Üniversitesi Sanayi ve İş Dünyası İşbirliği Araştırma ve Uygulama Merkezi (DÜSİMER) bünyesinde 02 Mayıs 2012 tarihinde Teknoloji Transfer Birimi olarak kurulmuştur.28 Ekim 2012 tarihinden itibaren ise T.C. Düzce Üniversitesi Rektörlüğüne doğrudan bağlı Teknoloji Transfer Ofisi (TTO) Koordinatörlüğü haline dönüştürülmüş ve halen bu kurumsal yapı ile hizmet vermektedir.</p>
                <p>TTO sonuç odaklı çalışma şekliyle akademik anlamda üretilen bilginin bir ürüne dönüştürülmesi veya bir üründe kullanılması sürecini de böylelikle daha esnek olarak yönetebilecektir. Bu çerçevede Düzce Üniversitesi araştırmacılarının bilgi birikimini, fikirden ürüne giden süreci, araştırmacı ile yüz yüze görüşerek, yönetmeyi ve paydaşlar arasındaki koordinasyonu sağlamayı temel ilke edinilmiştir. Düzce Üniversitesi TTO, üniversitenin, bölgenin, strateji, hedef ve eylem planları doğrultusunda faaliyetleri gerçekleştirebilecek kurumsal yapıya sahiptir.  </p>
                <p>TTO’nun yapısı, organları, çalışma şekli, görevleri, yetki ve sorumlulukları ile hedeflerine ilişkin esasları TTO Yönergesi ile Üniversite Yönetimince karar bağlanmıştır. TTO’nun işleyiş ilkeleri ve diğer birimler işe olan ilişkileri Üniversite yönetimince belirlenmiş ve bu ilkeler tüm birimlere bildirilerek TTO’nun faaliyet alanlarındaki etkinliği arttırılmıştur. Ayrıca FSMH yönergesi hazırlanarak Üniversite senatosunca kabul edilmiştir.</p>
                <br />
                <h4>MİSYON</h4>
                <p>Düzce Üniversitesi Teknoloji Transfer Ofisi (TTO), üniversite sanayi işbirliği için köprü vazifesi üstlenen bir birimdir. TTO; bir araştırma merkezi, laboratuvar, akademik birim veya patent ofisi değildir. Ancak bunların proje bazında ihtiyaca göre bir araya getirilmesi görevini  üstlenen  bir  yapıdır.  Üniversite  sanayi  işbirliğinin  arttırılması  için  TTO,  iş bekleyen değil işi takip eden (Proaktif) bir yapıyla hareket eder. İş dünyası ile yakın temas kurarak işbirliği projelerini oluşturmak için fırsat kollayan bir süreci yönetir.</p>
                <p>Düzce TTO stratejileri kapsamında Farkındalık, Bilgilendirme ve Eğitimler sonucunda akademisyenler, sanayiciler ve girişimci adaylarının farklı ulusal/uluslararası fon mekanizmaları hakkında bilgi edinmeleri adına bilgi günleri ve eğitimler gerçekleştirilmektedir. Konu uzmanı olan kişilerin konuşmacı/eğitmen olarak davet edilerek bilginin en yetkili ağızlardan hedef kitleye ulaştırılması hedeflenmektedir.</p>
                <br />
                <h4>VİZYON</h4>
                <p>Teknoloji Transfer Ofisi üniversite sanayi işbirliğine dayalı çalışmalar ile yeni bilgi ve teknolojilerin ortaya çıkarılması, üniversite kaynaklı buluşların koruma altına alınarak kullanıma sunulması, üniversitelerin özellikle yurt dışı kaynaklı hibe fonlarından daha fazla yararlanmasına yönelik projelerin oluşumu ve girişimciliğin teşvikini amaçlamakta ve örgüt yapısını bu doğrultuda planlamaktadır.</p>
                <p>Bu çerçevede Düzce Üniversitesi Teknoloji Transfer Ofisi ve ilgili mekanizmaların vizyonu, “Bölgesel, ulusal ve uluslararası düzeyde işbirlikleri kuran; Düzce ili ve bölgesinin sürdürülebilir kalkınmasına öncülük eden; yenilikçi, girişimci, evrensel bilgi ve değer üreterek, mühendislik, çevre ve sağlık teknolojileri başta olmak üzere birçok farklı alanda değer üreten bir arayüz olmaktır” şeklinde belirlenmiştir.</p>






            </div>
        </div>
    </div><br /><br /><br /><br /><br />
</section>
