<style>
    p {
        text-align: justify;
    }

    img {
        width: 690px;
        max-width: 90vw;
    }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("SpecializationMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>Tıbbi Bitki Yetiştiriciliği</h2><br />
                <center>
                    <h5>DÜZCE İLİNDE YÜRÜTÜLEN TIBBİ VE AROMATİK BİTKİ ÜRETİM ÇALIŞMALARI</h5><br />
                </center>
                <p>Düzce Üniversitesi, YÖK ve Kalkınma Bakanlığının işbirliğiyle 2015 Haziran ayında, üniversitelerin hem bulundukları bölgeye olan katkılarını arttırmak hem de belirli alanlarda ihtisaslaşmaya teşvik etmek amacıyla başlatmış olduğu "Bölgesel Kalkınma Odaklı Misyon Farklılaşması ve İhtisaslaşması’’ projesine seçilen ilk 5 pilot üniversite içerisinde ‘’Çevre ve Sağlık alanında’’ seçilmiştir.</p>
                <p>Çevre alanında tarımsal atıkların endüstriye geri kazanımı, sağlık alanında ise Geleneksel ve Tamamlayıcı Tıp Uygulama ve Araştırma Merkezi kurulması, bölgede gönüllü çiftçilerle Tıbbi ve Aromatik Bitkilerin yetiştiriciliği, Arıcılık, Mantar üretimi gibi faaliyetlerin yürütülmesi ve üretilen ham maddelerin ürünlere dönüştürülmesi hedeflenmiştir.</p>
                <p>Ülkemiz tıbbi ve aromatik bitkiler bakımından zengin bir floraya sahiptir. Tıbbi ve Aromatik bitkilerin, kullanım alanlarının geniş olması, ülke ekonomisine katkı sağlamaları ve yetiştirildiği bölgelerde yaşayanlara ek gelir sağlamalarından dolayı ülkemizde önemli bir yere sahiptirler. Tıbbi ve aromatik bitkilerin farklı sanayi kollarında ham madde olarak kullanılmaktadır. Son yıllarda bu bitkilere ve bu bitkilerden üretilen ürünlere talep her geçen gün artmaktadır. Türkiye tıbbi bitkiler ticaretinde dünyada en önemli ülkeler arasında yer almaktadır. Ancak, tıbbi ve aromatik bitkilerin ihracatında Türkiye’nin yüksek potansiyeli olmasına karşın henüz arzu edilen düzeye ulaşılamamıştır. Tıbbi ve aromatik bitkilerin ülke ekonomisi için önemli bir kazanç kaynağı olduğu göz önüne alınarak, tıbbi bitki ihracatında zengin bir potansiyele sahip olan Türkiye’nin dünya tıbbi bitki pazarında payının arttırılmasını sağlamak amacıyla, bu alanda çalışmaların (adaptasyon ve yetiştiricilik çalışmaları ve çiftçilere bu alanda eğitimlerin düzenlenmesi vb.) artırılması gerekmektedir.</p>
                <p>Düzce, Karadeniz Bölgesi’nin kıyı kesimlerinde görülen nemli ve fazla sert olmayan iklimin etkisi altında olup, Akdeniz ve Karasal iklimleri arası geçiş özelliği de göstermektedir. Yıllık sıcaklık ortalaması 13,0 C°, yıllık toplam yağışların ortalaması 823,7 kg/m² olup, ortalama nispi nem %75’dir. Düzce ili, toplam tarım alanı 74.481 bin ha olup, 63.382 ha alanda fındık üretim yapılmaktadır.</p>
                <p>Proje kapsamında gönüllü çiftçilerle (25 kişi) birlikte İzmir Kekiği, Tıbbi Adaçayı, Anadolu Adaçayı, Nane, Melisa, Aynısefa, Lavanta, Safran, Salep, Kudret Narı ve Şeker Otu bitkilerin üretim denemeleri kurulmuştur. Üretim yapılırken çiftçilerin koşulları da (ekonomik, alet-ekipman) göz önünde bulundurulmuştur.</p>
                <br /><br />
                <center>
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm1.jfif" /><br /><br />
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm2.jfif" /><br /><br />
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm3.jfif" /><br /><br />
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm4.jfif" /><br /><br />
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm5.jfif" /><br /><br />
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm6.jfif" /><br /><br />
                </center><br />
                <p>
                    Proje kapsamında;<br />

                    Ø  2018 yılında;<br />

                    §  120 kg Tıbbi Adaçayı (Salvia officinalis) kuru yaprak<br />

                    §  150 kg Şeker Otu (Stevia) kuru yaprak<br />

                    §  50 kg Mor Reyhan (Ocimum basilicum) kuru yaprak<br />

                    §  200 kg Kudret Narı (Momordica charantia) tohum,<br />

                    §  100 kg Meryemana Dikeni (Silybium marianum) tohum,<br />

                    §  53 kg Hint Yağı Bitkisi (Ricinus communis) tohum,<br />

                    §  45 kg Rezene  (Foeniculum vulgare) tohum elde edilmiştir.<br />
                </p><br /><br />
                <center>
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm7.jfif" /><br /><br />
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm8.jfif" /><br /><br />
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm9.jfif" /><br /><br />
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm10.jfif" /><br /><br />
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm11.jfif" /><br /><br />
                </center><br />
                <p>
                    Ø  2019 yılında;<br />

                    §  3300 kg Tıbbi Adaçayı (Salvia officinalis) yaş herba,<br />

                    §  7355 kg Anadolu Adaçayı (Salvia triloba) yaş herba,<br />

                    §  2690 kg İzmir Kekiği (Origanum onites) yaş herba,<br />

                    §  350 kg Melisa (Melissa officinalis) yaş herba ürün hasat edilmiştir.<br />
                </p><br /><br />
                <center>
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm12.jfif" /><br /><br />
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm13.jfif" /><br /><br />
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm14.jfif" /><br /><br />
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm15.jfif" /><br /><br />
                </center><br />
                <p>
                    Ø  2020 yılında;<br />

                    §  4615 kg Anadolu Adaçayı yaş herba<br />

                    §  525 kg Tıbbi Adaçayı yaş herba<br />

                    §  680 kg İzmir Kekiği yaş herba<br />

                    §  4975 kg Melisa yaş herba<br />

                    §  100 kg Şeker Otu kuru yaprak<br />

                    §  400 kg Lavanta taze çiçek<br />

                    §  80 kg Aynısefa taze çiçek ürün hasat edilmiştir.<br />
                </p><br /><br />
                <center>
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm16.jfif" /><br /><br />
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm17.jfif" /><br /><br />
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm18.jfif" /><br /><br />
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm19.jfif" /><br /><br />
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm20.jfif" /><br /><br />
                </center><br />
                <p>
                    Ø  Üniversite bünyesinde ve farklı kurumlarla 2018-2020 yılları arasında;<br />

                    §  Doğaya Dönüş Atölyesi (8-9 Aralık 2018)<br />

                    §  Uygulamalı Tıbbi ve Aromatik Bitkiler Yetiştiriciliği Eğitimi (13-14 Nisan 2019)<br />
                </p><br /><br />
                <center>
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm21.jfif" /><br /><br />
                </center><br />
                <p>
                    §  Geleneksel Tıpta Kalite ve Standardizasyon’’ Çiftliğinde 23 Nisan Coşkusu (23 Nisan 2019)

                    §  Düzce Toprağının Sesini Dinle Çalıştayı (29 Nisan 2019)
                </p><br /><br />
                <center>
                    <img src="~/img/TibbiBitkiYetistiriciligi/rsm22.jfif" /><br /><br />
                </center><br />
                <p>
                    §  Gümüşovalı Kadınlar Gölyakalı Çiftçi Kadınlar İle Buluştu (17 Temmuz 2019)<br />

                    §  Gümüşovalı Çiftçi Kadınlar DÜBİT ve Teknopark Mycotech Doku Kültürü Laboratuvarını Ziyaret Ettiler (29 Temmuz 2019)<br />

                    §  Düzceli Çiftçi Kadınlar Yalova Atatürk Bahçe Kültürleri Merkez Araştırma Enstitüsü ve Artemisia Tıbbi Bitki Bahçesinde (30 Temmuz 2019)<br />

                    §  Tıbbi Çaylar ve Kokular Atölyesi Yalovalılarla Buluştu (11 Eylül 2019)<br />

                    §  Üniversitemiz Kadın Çiftçilerle Buluştu (15 Ekim 2019)<br />

                    §  Sancaklı Huzurevinde Tıbbi ve Aromatik Bitki Dikim Şenliği (6 Kasım 2019)<br />

                    §  Düzce 1. Tarım Paneli 25 Şubat 2020<br />

                    §  Düzce 2.Tarım Paneli  24 Şubat 2021 etkinlikler düzenlenmiştir.<br />
                </p><br /><br />
            </div>
        </div>
    </div><br /><br /><br /><br /><br />
</section>