<style>
    .table{
        margin-bottom: 75px;
    }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("UniversityMenu")
        </div>

        <div class="col-md-10  col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>Üniversite İzleme ve Değerlendirme Raporu</h2><br />
                <table class="table table-striped border">
                    <tbody>
                        <tr>
                            <td width="575">
                                <p><strong>&nbsp;</strong><strong><u>Kriterler</u></strong></p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong><strong><u>Say /Oran</u></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" width="693">
                                <p><strong>A. Eğitim ve Öğretim</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>A.1 Mezun olan doktora öğrenci sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>19</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>A.2.1 Kamu Personel Seçme Sınavlarında (KPSS) ilk %5’lik dilime giren program say s</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>2</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>A.2.2 Akademik Personel ve Lisansüstü Eğitimi Giriş Sınavlarında (ALES) ilk %5’lik dilime giren program say s</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>2</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>A.3 Uluslararası sempozyum, kongre veya sanatsal sergi sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>13</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>A.4.1 Öğrencilerin yaptığı&nbsp; sosyal sorumluluk projelerinin sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>44</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>A.4.2 Öğrencilerin yaptığı&nbsp; endüstriyel projelerin sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>5</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>A.5 Teknokent veya Teknoloji Transfer Ofisi (TTO) projelerine katılan öğrenci sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>351</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>A.6 Programların genel doluluk oranı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>%93,3</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>A.7 Erişilebilen ders bilgi paketi oranı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>%100</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>A.8 Mezun takip sistemi içerisindeki mezunların oranı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>%100</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>A.9 Öğrencilerin kayıtlı oldukları program dışındaki diğer programlardan alabildikleri ders oranı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>%15</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>A.10 Yükseköğretim Kurumlar Sınav (YKS) kılavuzunda akredite olduğu belirtilen lisans program sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>0</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>A.11.1 Üniversite kütüphanesinde öğrenci başına düşen basılı kitap sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>2,34</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-striped border">
                    <tbody>
                        <tr>
                            <td width="575">
                                <p><strong>&nbsp;</strong><strong><u>Kriterler</u></strong></p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong><strong><u>Say /Oran</u></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>A.11.2 Üniversite kütüphanesinde öğrenci başına düşen e-yayın sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>1,5</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" width="693">
                                <p><strong>B. Araştırma-Geliştirme, Proje ve Yayın</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.1 Ulusal hakemli dergilerde yayımlanmış&nbsp; öğretim eleman başına düşen yayın sayısı</p>
                            </td>
                            <td width="119">
                                <p>0,131</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.2 SCI, SCI-Expanded, SSCI ve AHCI endeksli dergilerde yayımlanmış öğretim elemanı başına düşen yayın sayısı</p>
                            </td>
                            <td width="119">
                                <p>0,392</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.3 En yüksek %10’luk dilimde atıf alan yayın sayısı</p>
                            </td>
                            <td width="119">
                                <p>119</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.4 Üniversite adresli bilimsel yayınlara açık erişim oranı</p>
                            </td>
                            <td width="119">
                                <p>%57,94</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.5.1 Başvurulan patent, faydalı model veya tasarım sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>12</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.5.2 Sonuçlanan patent, faydalı model veya tasarım sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>6</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.6 YÖK, TÜBA, TÜBİTAK bilim, teşvik ve sanat ödülleri sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>0</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.7 YÖK 100/2000 Projesi doktora bursiyeri sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>52</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.8 YÖK-YUDAB bursiyeri sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>0</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.9 TÜBİTAK tarafından verilen ulusal ve uluslararası araştırma bursu sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>21</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.10 TÜBİTAK tarafından verilen ulusal ve uluslararası destek program sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>26</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.11 Ulusal ve uluslararası özel veya resmi kurum ve kuruluşlar tarafından desteklenmiş Ar-Ge niteliği taşıyan proje sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>31</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.12.1 Üniversitenin THE’ya göre dünya sıralaması</p>
                            </td>
                            <td width="119">&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.12.2 Üniversitenin THE’ya göre bölgesel (Asya) sıralaması</p>
                            </td>
                            <td width="119">&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.12.3 Üniversitenin THE’ya göre ulusal sıralaması</p>
                            </td>
                            <td width="119">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-striped border">
                    <tbody>
                        <tr>
                            <td width="575">
                                <p><strong>&nbsp;</strong><strong><u>Kriterler</u></strong></p>
                            </td>
                            <td width="119">
                                <p><strong><u>Say /Oran</u></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.12.4 Üniversitenin QS’e göre dünya sıralaması</p>
                            </td>
                            <td width="119">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.12.5 Üniversitenin QS’e göre bölgesel (Asya) sıralaması</p>
                            </td>
                            <td width="119">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.12.6 Üniversitenin QS’e göre ulusal sıralaması</p>
                            </td>
                            <td width="119">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.12.7 Üniversitenin ARWU’ya göre dünya sıralaması</p>
                            </td>
                            <td width="119">&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.12.8 Üniversitenin ARWU’ya göre ulusal sıralaması</p>
                            </td>
                            <td width="119">
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.13 Teknoloji Geliştirme Bölgelerinde (TGB) istihdam edilen doktora programlarına kayıtlı öğrenci sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>3</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.14.1 Üniversite laboratuvarlarında Ar-Ge, inovasyon ve ürün geliştirme kapsamında sunulan hizmet sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>0</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>B.14.2 Üniversite laboratuvarlarında Ar-Ge, inovasyon ve ürün geliştirme kapsamında sunulan hizmetlerden elde edilen gelir</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>0</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" width="693">
                                <p><strong>C. Uluslararasılaşma</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>C.1.1 İstihdam edilen yabancı uyruklu öğretim üyesi sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>11</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>C.1.2 İstihdam edilen yabancı uyruklu doktoralı öğretim görevlisi ve araştırmacı sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>0</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>C.2 Üniversitedeki yabancı uyruklu öğrenci sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>402</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>C.3.1 Uluslararası değişim programlar kapsamında gelen öğretim eleman sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>26</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>C.3.2 Uluslararası değişim programlar kapsamında gönderilen öğretim elemanı sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>19</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>C.4.1 Uluslararası değişim programlar kapsamında gelen öğrenci sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>7</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>C.4.2 Uluslararası değişim programlar kapsamında gönderilen öğrenci sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>38</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>C.5 Üniversite öğretim elemanlarının aldığı&nbsp; uluslararası fonlara dayalı proje sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>6</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-striped border">
                    <tbody>
                        <tr style="height: 78px;">
                            <td style="height: 78px; width: 553px;">
                                <p><strong>&nbsp;</strong><strong><u>Kriterler</u></strong></p>
                            </td>
                            <td style="height: 78px; width: 118px;">
                                <p><strong>&nbsp;</strong><strong><u>Say /Oran</u></strong></p>
                            </td>
                        </tr>
                        <tr style="height: 78px;">
                            <td style="height: 78px; width: 553px;">
                                <p>C.6 Yurt dışındaki üniversiteler veya kurum ve kuruluşlar ile ortak yürütülen proje sayısı</p>
                            </td>
                            <td style="height: 78px; width: 118px;">
                                <p><strong>&nbsp;</strong></p>
                                <p>5</p>
                            </td>
                        </tr>
                        <tr style="height: 46px;">
                            <td style="height: 46px; width: 677px;" colspan="2">
                                <p><strong>D. Bütçe ve Finansman</strong></p>
                            </td>
                        </tr>
                        <tr style="height: 78px;">
                            <td style="height: 78px; width: 553px;">
                                <p>D.1 Merkezi bütçe dışı öz gelir, döner sermaye, fon vb. gelirlerin yıllık bütçeye oranı</p>
                            </td>
                            <td style="height: 78px; width: 118px;">
                                <p><strong>&nbsp;</strong>%3,25</p>
                            </td>
                        </tr>
                        <tr style="height: 64px;">
                            <td style="height: 64px; width: 553px;">
                                <p>D.2 Sağlık Uygulama ve Araştırma Merkezinin kâr ya da zararının toplam ciroya oranı</p>
                            </td>
                            <td style="height: 64px; width: 118px;">
                                <p><strong>&nbsp;</strong>%-22,62</p>
                            </td>
                        </tr>
                        <tr style="height: 46px;">
                            <td style="height: 46px; width: 553px;">
                                <p>D.3.1 Ar-Ge’ye harcanan bütçe oranı</p>
                            </td>
                            <td style="height: 46px; width: 118px;">
                                <p><strong>&nbsp;</strong>%4,95</p>
                            </td>
                        </tr>
                        <tr style="height: 46px;">
                            <td style="height: 46px; width: 553px;">
                                <p>D.3.2 Ar-Ge’ye harcanan yatırım bütçesi oranı</p>
                            </td>
                            <td style="height: 46px; width: 118px;">
                                <p><strong>&nbsp;</strong>%15,24</p>
                            </td>
                        </tr>
                        <tr style="height: 46px;">
                            <td style="height: 46px; width: 553px;">
                                <p>D.4.1 Endüstri ile ortak yürütülen proje sayısı</p>
                            </td>
                            <td style="height: 46px; width: 118px;">
                                <p><strong>&nbsp;</strong>32</p>
                            </td>
                        </tr>
                        <tr style="height: 46px;">
                            <td style="height: 46px; width: 553px;">
                                <p>D.4.2 Endüstri ile ortak yürütülen projelerin toplam bütçesi</p>
                            </td>
                            <td style="height: 46px; width: 118px;">
                                <p><strong>&nbsp;</strong>93618316</p>
                            </td>
                        </tr>
                        <tr style="height: 46px;">
                            <td style="height: 46px; width: 553px;">
                                <p>D.5 Üniversiteye kazandırılan bağış&nbsp; miktarı</p>
                            </td>
                            <td style="height: 46px; width: 118px;">
                                <p><strong>&nbsp;</strong>318094</p>
                            </td>
                        </tr>
                        <tr style="height: 46px;">
                            <td style="height: 46px; width: 553px;">
                                <p>D.6 Öğrenci başına yapılan harcama miktarı</p>
                            </td>
                            <td style="height: 46px; width: 118px;">
                                <p><strong>&nbsp;</strong>9856</p>
                            </td>
                        </tr>
                        <tr style="height: 46px;">
                            <td style="height: 46px; width: 553px;">
                                <p>D.7 Yayın alımının bütçeye oranı</p>
                            </td>
                            <td style="height: 46px; width: 118px;">
                                <p><strong>&nbsp;</strong>%0,301</p>
                            </td>
                        </tr>
                        <tr style="height: 46px;">
                            <td style="height: 46px; width: 553px;">
                                <p>D.8 Üniversitenin sağladığı eğitim burslarından faydalanan öğrenci oranı</p>
                            </td>
                            <td style="height: 46px; width: 118px;">
                                <p><strong>&nbsp;</strong>%0,04</p>
                            </td>
                        </tr>
                        <tr style="height: 46px;">
                            <td style="height: 46px; width: 677px;" colspan="2">
                                <p><strong>E. Topluma Hizmet ve Sosyal Sorumluluk</strong></p>
                            </td>
                        </tr>
                        <tr style="height: 46px;">
                            <td style="height: 46px; width: 553px;">
                                <p>E.1 Üniversitenin yaptığı sosyal sorumluluk projesi sayısı</p>
                            </td>
                            <td style="height: 46px; width: 118px;">
                                <p><strong>&nbsp;</strong>90</p>
                            </td>
                        </tr>
                        <tr style="height: 46px;">
                            <td style="height: 46px; width: 553px;">
                                <p>E.2 Sürekli Eğitim Merkezi ve Dil Merkezi tarafından verilen sertifika sayısı</p>
                            </td>
                            <td style="height: 46px; width: 118px;">
                                <p><strong>&nbsp;</strong>1480</p>
                            </td>
                        </tr>
                        <tr style="height: 64px;">
                            <td style="height: 64px; width: 553px;">
                                <p>E.3 Kariyer Merkezi çalışmaları kapsamında öğrenci ve mezunlara yönelik gerçekleştirilen faaliyet sayısı</p>
                            </td>
                            <td style="height: 64px; width: 118px;">
                                <p><strong>&nbsp;</strong>119</p>
                            </td>
                        </tr>
                        <tr style="height: 46px;">
                            <td style="height: 46px; width: 553px;">
                                <p>E.4 Kamu kurumları ile birlikte yürütülen proje sayısı</p>
                            </td>
                            <td style="height: 46px; width: 118px;">
                                <p><strong>&nbsp;</strong>93</p>
                            </td>
                        </tr>
                        <tr style="height: 64px;">
                            <td style="height: 64px; width: 553px;">
                                <p>E.5.1 Dezavantajlı gruplara yönelik sosyal entegrasyon ve kapsayıcılığa ilişkin yapılan faaliyet sayısı</p>
                            </td>
                            <td style="height: 64px; width: 118px;">
                                <p><strong>&nbsp;</strong>51</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-striped border">
                    <tbody>
                        <tr>
                            <td width="575">
                                <p><strong>&nbsp;</strong><strong><u>Kriterler</u></strong></p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong><strong><u>Say /Oran</u></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>E.5.2 Üniversitenin engelsiz üniversite ödülü, engelsiz bayrak ödülü, engelsiz program nişanı ve engelli dostu ödülü sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>1</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>E.6.1 Üniversitenin sıfır atık, yeşil kampüs ve çevrecilik alanlarında aldığı ödül sayısı</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>0</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="575">
                                <p>E.6.2 Üniversitenin yeşil, çevreci üniversite endeksindeki sıralaması</p>
                            </td>
                            <td width="119">
                                <p><strong>&nbsp;</strong>525</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div><div style="width: 100vw; height: 25vh;">

    </div>
</section>
