<style>
    p {
        text-align: justify;
    }
    #UrunlerMarkalar {
        width: 400px;
        height: 400px;
    }
    #univera{
        width: 690px;
        max-width: 90vw;
    }
</style>
<section class="units">
    <div class="row" style="width: 100vw; height: 15vh; background-color: rgb(75, 75, 75);"></div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            @await Component.InvokeAsync("SpecializationMenu")
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container" style="margin-left:15px;">
                <h2>Ürünler / Markalar</h2><br />
                <p>
                    Düzce Üniversitesi, ihtisaslaşma sürecinin başında 4 adet markayı Türk Patent Kurumu'na tescil ettirmiştir. Bu markalar;<br />

                    DuLife (Çatı Marka)<br />

                    Herbynia (Bitkisel Ürünler)<br />

                    Apidevera (Arı Ürünleri)<br />

                    Melenis (Kozmetik Ürünleri)<br />

                    şeklindedir. Adı geçen bu markalar, 14 Şubat 2020 tarihinde imzalanan Marka Lisans Sözleşmesi ile, İlimiz girişimcilerinin kurduğu Formlife Sağlıklı Yaşam Ürünleri A.Ş. firmasına 3 yıllığına lisanslanmıştır.
                </p>  <br /><br />
                <center>
                    <img src="~/img/UrunlerMarkalar.png" id="UrunlerMarkalar" />
                </center><br /><br />
                <p>Bu lisanslama sürecinin ardından Düzce Üniversitesi, ihtisaslaşma süreci için yeni bir marka tescil başvurusu daha yapmıştır: Univera.</p>
                <p>Değer üreten Üniversitemizin yeni değeri Univera da tıpkı daha önce tescillediğimiz markalarımız gibi Üniversitemize özgü bir felsefeyi barındırıyor. Neredeyse tüm kadim dil ailelerinde bir anlamı olan “Vera”, Latincede “Doğru”, Slav dillerinde “Gerçek”, Arapçada ise “Günahtan/Kusurdan/Hatadan Kaçınan” anlamlarını taşır. Bir üniversiteye ve onun uzman personeline ilişkin vurguyla Univera, “bilimin doğru ve gerçekçi süzgecinden geçmiş, kusur ve aldatmacadan uzak” ürün grubunu temsil eden bir marka olarak, bu felsefesini somut ürünlere yansıtıyor.</p>
                <p>5 ayrı logo ile temsil edilen Ünivera’nın yeşil logosu bitkisel ürünlerimizi, kırmızı logosu kozmetik ürünlerimizi, bal rengi logosu arıcılık ürünlerimizi, mavi renkli logosu tarımsal atıklardan elde edilen ürünlerimizi barındırırken, siyah logo ise markanın çatı logo vasfı teşkil ediyor. </p>
                <p>Dezenfektan, krem, kolonya, tıbbi bitki yağı, tıbbi bitki ekstraktı, tıbbi mantar, kefir, bal, propolis, arı zehri, arı sütü, saç bakım ürünleri, cilt bakım ürünleri, tarımsal atıklardan elde edilmiş sanatsal kağıt, kompost, malç, odun sirkesi gibi oldukça geniş bir portföye sahip Ünivera markalı ürünlerimiz, hiçbir şekilde fason üretim yaptırılmaksızın tamamen Doğu Marmara Kalkınma Ajansı (MARKA) desteği ile kurulan Düzce Üniversitesi Üretim Merkezi (DÜ-ÜM) bünyesinde üretilip, yeni satış ofisinde tüketicinin beğenisine sunulmaktadır.</p>
                <center>
                    <img src="~/img/univera.png" id="univera"/>
                </center>

            </div>
        </div>
    </div><br /><br /><br /><br /><br />
</section>

