@model DuzceUni.Models.Blog
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="~/font/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/css/animate.min.css" type="text/css">
<link rel="stylesheet" href="~/css/style.css" type="text/css">
<link href="~/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="~/owl-carousel/owl.theme.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/isotope-docs.css" media="screen">
<link rel="stylesheet" href="~/css/baguetteBox.css">

<div class="modal-dialog modal-dialog-centered">
    ...
</div>
